[2020-11-06 23:57] AlexRibard commented on #99
ok thanks for providing me the networks. I'll take a look at it

[2020-11-10 06:21] tvkamara opened #105 "Image super-resolution with Barracuda, problem with output"
Hi All, I'm trying to use an ONNX super-resolution model in Barracuda as I noticed there were some promising commits in the latest version regarding support for super-resolution. I'm using a network from here (https://github.com/dusty-nv/super-resolution) which is using RGB input as I'm trying to avoid any YUV conversions. The network seems to be exactly this (https://github.com/onnx/models/tree/m

[2020-11-10 10:28] gkhj0516 opened #106 "My barracuda model(NN model) don't have input name"
Hi

I have h5 file and converted to barracuda model.
But, I can't find input name of NN model in unity.

What can I do? Help me please

![my_model](https://user-images.githubusercontent.com/59754664/98662266-e33fcb80-238a-11eb-9021-ab0f9591b01f.png)

[2020-11-10 12:40] mantasp commented on #105
@tvkamara thank you for reporting this!
We will add your model to our investigation list.

[2020-11-10 12:42] mantasp commented on #106
It's probably just some whitespace character. Though for models that use single input you could just use `IWorker.Execute(input)`method that doesn't require to pass input name.

[2020-11-10 18:17] AlexRibard commented on #105
Hey @tvkamara there is indeed an error coming from the end part of the model
![image](https://user-images.githubusercontent.com/12990800/98714608-18322b00-2357-11eb-8c96-887ba0058f35.png)
We are checking the bug

[2020-11-10 19:21] tvkamara commented on #105
Ok, good to know. Thank you both for your quick response!

[2020-11-11 06:47] DanielDorDev opened #107 "Update from 1.0.4 to 1.2.0"
Great update, tested the new cpu brust, and it seems amazing.

what am i looking to change or to deal with differently when updating from 1.0.4 to 1.2.0, because straight forward update mass the results, meaning, all prcoess from input to output , acts different in 1.2.0

[2020-11-11 09:29] mantasp commented on #107
@DanielDorDev could you please provide more details on specific issues you see?

[2020-11-11 09:29] #106 closed

[2020-11-11 14:08] raphipaffi commented on #99
Hi @AlexRibard, any new insights? Here is also the Jupyter Notebook I use to generate these models:
[GenerateONNXModels.zip](https://github.com/Unity-Technologies/barracuda-release/files/5524431/GenerateONNXModels.zip)
There is nothing special in there. I just take the precomputed MobileNetV2 from Keras and convert and export it to ONNX.

[2020-11-11 14:14] DanielDorDev commented on #107
Exmaple of using the same input, different version, different results( 1.0.4 & 1.2.0) .

Outputs:

1.0.4:
2.078794E-09 1.22584E-08 6.612019E-10 7.467452E-08 1.025297E-09 2.315215E-08 3.946147E-09 3.08494E-07 9.06745E-08 1.395142E-08 **6.193861E-09 3.305571E-07** 7.283347E-08 9.086062E-08

1.2.0:
2.078791E-09 1.22585E-08 6.612019E-10 7.467462E-08 1.025297E-09 2.315215E-08 3.946152E-09 3.084944E-07

[2020-11-11 18:43] jordi-ander commented on #92
@Alex thanks! I'm emailing you a version of our model now!

[2020-11-11 20:02] AlexRibard commented on #107
That seems reasonable margins of errors.
Our usual floating point error tolerance is 10e-4 or 10e-5.
Depending on the version, operators are optimized/refactored sometimes resulting is some floating point errors/differences.
+ it is hard to judge which is the more correct result, one would need to validate with double inference in onnx-runtime/pytorch to be sure.
If 10e-5 precision is important fo

[2020-11-11 21:57] AlexRibard commented on #99
@raphipaffi very sorry about the delay.
I checked your model on 1.2.0.
You just need to export it without any changed to the model (no `SetSoftmaxAxisTo1`, just `keras2onnx.convert_keras(model, model.name, target_opset=opset)` (keras2onnx actually overwrites the `SetSoftmaxAxisTo1`...)
On 1.2.0 you need to add
[code]
I've pushed the fix on main it will land on the next version.
With that fix, your

[2020-11-11 23:59] raphipaffi commented on #99
Thanks for the quick update @AlexRibard. If I get you right, I'll export my model without any modifications and wait for the next Barracuda update before testing again.

[2020-11-12 00:05] DanielDorDev commented on #107
The problem was tensor shape, i didn't realize at first that 8D change the way i am indexing data, after change shape[3] => shape[7] and etc, it works fine 👍

for brust: , "Internal: JobTempAlloc has allocations that are more than 4 frames old - this is not allowed and likely a leak"
Internal: deleting an allocation that is older than its permitted lifetime of 4 frames (age = 5)

Is it important?

[2020-11-12 14:14] albanmdb3d opened #108 "Loading a model at runtime"
Hi,

I'm a bit confused about loading a model at runtime. Say I am creating a package using Barracuda with an .onnx model. How can I load the model from path ? The documentation allows the import of .bc (.barracuda ?) at runtime. What are they ? How do I convert my .onnx to a .bc ?
Thanks!

[2020-11-12 15:20] AlexRibard commented on #108
https://github.com/Unity-Technologies/barracuda-release/blob/release/1.0.0/Documentation%7E/Loading.md
Does this help?
Your file should be a .onnx in the Asset/Ressources folder
You then need to load the binary and compile it as a model
[code]

[2020-11-12 15:38] albanmdb3d commented on #108
Thanks for the reponse. From the doc you linked, under runtime loading, doing ModelLoader.Load(modelPath) expects a .bc file. That's the part I find confusing as it's not explicit what those are.
Your code works, but I don't necessarily want my file to be in the Ressources folder

Edit: I did some reading about Resources.Load. It actually loads from all directories called Resources. This means as

[2020-11-12 16:00] albanmdb3d commented on #108
Actually, what I would like to do is load my model from a script. I want my model to be anywhere on the disk, not in my Unity project or package. Is this possible?

Edit: I was successful using AssetBundles. For anyone interested, create the asset bundle from a .onnx file in unity. To load, something like this does the trick

[code]

I'm still interested in the .bc files though.

[2020-11-12 17:37] mantasp commented on #108
.bc files can be loaded the same way, just rename them to have .nn extension.

[2020-11-12 19:53] #107 closed

[2020-11-12 20:32] AlexRibard commented on #107
Unless you are managing burst job, we probably have a leak somewhere. Thanks for bringing it up, I'll keep a eye out for this bug in the future.
Which back-end are you using? (Compute, CSharp)

[2020-11-13 02:20] DanielDorDev commented on #107
I am using CSharpBurst

Really impressive performance, barracuda allows executing heavy NN in mid-end devices 👍

But still unlike GPU backend , it is unstable, why is it?

[2020-11-13 06:46] senbinyu opened #109 "Incorrect output using Barracuda compared to torch when excuting a 1D vector input outputing a 2D image"
Hi,

Our team are using a network transfering a 1d meaningful vector as input (1, 1, 1, 90),  to a 2d image as output (1, 128, 128, 1). We trained our model well and got satisfactory results in the pytorch platform with both .pth and .onnx models.

First of all, we believed that our implementation of the .onnx model into the Unity/Barracuda is correct, since we tested with 1D vector input to 1D ve

[2020-11-13 15:30] AlexRibard commented on #109
thanks for the info. I will check

[2020-11-13 15:41] AlexRibard commented on #99
Sorry for that, some critical info got hidden away in the code snippet...
* Yes, option 1 is for you to wait for the next release.
* Option 2 is to modify locally ONNXModelConverter.cs on l656 and add the code snippet and export without modifications

[2020-11-13 15:45] #108 closed

[2020-11-13 20:59] AlexRibard commented on #104
Ok I got the bug, will fix it for the next release

[2020-11-16 03:38] senbinyu commented on #109
Hi, Alex,

Thanks for your reply. Now we have located where this error occurred.

We believed that it is caused by the re-allocate of the memory when the is is reshaped into multiply channels(if it is reshaped into W * H * 1 channel, there's no error). We trained a NN using 1D input and output a small image. By comparing to the torch output, we tested it with Barracuda first using [1,1,1,64] and r

[2020-11-16 05:05] AlexRibard commented on #109
Hey @senbinyu which version are you on?
I tested your model against `onnx-runtime` and `Barracuda` on random inputs.
At first glace there is some slight precision discrepancies compared to onnx, but at ~10e-3 absolute error it's ok.
(not sure if this is acceptable given you are trying to output  as mask...)
But things looks ok considering inference logic.

I will look more in details at your C# pr

[2020-11-16 08:45] senbinyu commented on #109
Hi, @AlexRibard,

Thanks a lot for your reply. I used Barracuda 1.0.4 before and now I updated it into 1.2.0 preview version. After changing the tensorShape as you mentioned before, there is still nothing changed for me.

[2020-11-16 09:07] hajiarab1988 commented on #99
Thank you a lot
The second option totally solved the problem
I just added this: if (axis < 0)
    axis = axis + node.Input0Rank;
to ONNXModelConverter.cs on the line 656 and every thing works perfect!

Edit : And also I unchecked 'Optimize Model' in Inspector then 'Apply' and checked it again and 'Apply' again.

[2020-11-16 14:56] raphipaffi commented on #99
Hey @AlexRibard, while trying your suggestion I noticed an issue with my labels file that I copied from https://github.com/Syn-McJ/TFClassify-Unity-Barracuda. The file has an additional label at the top (called "background") so combined with the 1000 labels from ImageNet it contains 1001 labels.
The model I generate with TF and Keras expects 1000 labels, corresponding to the 1x1000 Softmax output

[2020-11-16 15:17] abeug commented on #104
Good to hear. Thanks.

[2020-11-16 18:36] AlexRibard commented on #109
@senbinyu ok figured it out.
* I dumped the output tensor and displayed it in python
![image](https://user-images.githubusercontent.com/12990800/99292491-46a87e00-280f-11eb-95a7-4e6e70f71cd2.png)
So thing are correct, when comparing the tensors.
* back to your demo
The problem you are having is due to how the RenderTexture are interpreted in Unity vs python
https://docs.unity3d.com/Manual/SL-Platf

[2020-11-16 20:30] AlexRibard commented on #99
oh... ok strange.
Sorry about that.
I've added the model in the test suite so it should be fixed in the next version.
But yeah, stick to 1.0.4 then since it is easier.

[2020-11-16 20:51] raphipaffi commented on #99
No worries, I am happy that it works now :)

So given my experiments, Barracuda 1.2 should return 1 for every element in the output tensor of my model in your test case at the moment. Using Barracuda 1.0.4 the output values correctly sum up to 1 (and maximum value corresponds to the correct class).

[2020-11-17 02:39] senbinyu commented on #109
Hi, @AlexRibard ,

Thanks a lot for your quick and kind reply. I guess I encountered some problems in Unity C# sript, since I am new about it. Can you share your C# sript with me? I can compare them and find out exactly where the problem is.
Thank you again and best wishes.

[2020-11-17 09:54] georgepoenaru opened #111 "ONNX - ArgMax/ArgMin support"
Hi,

I'm trying to import an ONNX model but I can not do this because Barracuda doesn't support ArgMax operator.

See this [issue](https://github.com/facebookresearch/InterHand2.6M/issues/25#issuecomment-728286304)

Can you please add ArgMax operator or at least point me out a bit to learn how to add myself and contribute?

Thank you

[2020-11-17 14:10] #17 closed

[2020-11-17 14:11] #19 closed

[2020-11-17 14:17] mantasp commented on #27
Latest Barracuda 1.2.0-preview now has support for more than 4 dimensions, some of the importing problems above should be gone. Please feel free to open new issue if you still run into issues.

[2020-11-17 14:17] #27 closed

[2020-11-17 14:18] #42 closed

[2020-11-17 14:20] mantasp commented on #40
Could you please try it with Barracuda 1.2.0-preview and re-open the issue if it's still a problem?

[2020-11-17 14:20] #40 closed

[2020-11-17 14:20] #35 closed

[2020-11-17 14:21] #30 closed

[2020-11-17 14:26] #44 closed

[2020-11-17 14:27] #47 closed

[2020-11-17 14:27] #50 closed

[2020-11-17 14:59] mantasp commented on #74
`Split` support was released with Barracuda `1.2.0-preview`

[2020-11-17 14:59] #74 closed

[2020-11-17 15:23] AlexRibard commented on #111
Hi @nauutilus we do, just not as importing from ONNX
The way to do it is
[code]
So for now you'll need to remove it out of the model

[2020-11-17 15:24] AlexRibard commented on #111
![image](https://user-images.githubusercontent.com/12990800/99409081-fd176c00-28be-11eb-806d-be4df1b4e619.png)
can you do this in C#?
`GatherElements` is also not supported unfortunety.

[2020-11-17 16:10] AlexRibard commented on #109
Sure. My script is very similar to yours
[barracuda_issue_test.zip](https://github.com/Unity-Technologies/barracuda-release/files/5554656/barracuda_issue_test.zip)
The "fixes" I was mentioning were done on the file `BarracudaReferenceCompute.cs`
[code]
If you want to save the Tensor to file, you can use `float[] array = output.ToReadOnlyArray()`

[2020-11-17 16:19] harmoniqpunk commented on #111
Hi Alex,

So you suggest me to remove it completly from the model and return earlier in order to perform the argmax in C#? Actually is a good ideaa but I didn't knew if I can perform argmax and gather in C#. Do you know if I have a corespondedn PyTorch gather function in Barracuda Inference Engine framework? If so, can it be perfomed on GPU?

Thank you

[2020-11-17 18:43] AlexRibard commented on #111
A few things:
* you can do the logic yourself by manipulating arrays directly. Maybe not very elegant.
* you call individual operators or create a sub-network yourself to help out with the math. (but `GatherElements` are not supported now, let alone with varying indices...)
as for the GPU support, some ops are on the GPU, but ArgMax isn't for now so it'll go to the CPU anyway.

Porting ArgMax to G

[2020-11-18 07:03] senbinyu commented on #109
Hi, @AlexRibard

Thanks a lot for your kind reply. We tried both methods you provided, but the result is still inconsistent with what you obtained above. In fact, change the "_FlipY" true or false only affect the direction or transpose, not the output values. For us, the output tensor values are totally different from what you obtained and what we obtained from onnxruntime. We used Barracuda 1.0.4

[2020-11-18 08:02] harmoniqpunk commented on #111
I was ready to directly manipulate arrays even if is not elegant at this point.

I managed to get rid of that rank 5 tensor and now I'm dealing only with a rank 3 tensor so in this perspective I'm fine.

But I need the model on GPU because I need low latency. Is there any list of supported operators on GPU like [this one](https://docs.unity3d.com/Packages/com.unity.barracuda@1.2/manual/SupportedOp

[2020-11-18 08:52] FD-MINGJIE opened #112 "Different outputs between onnx-runtime and barracuda!"
Hello, Alex:
       Nice to meet you. Well, I find the similar bug like issue#109 that same input indeed produces **different output in onnx-runtime and barracuda**.  Left picture is produced by barracuda and right picture is produced by onnxruntime.
![result_barracuda](https://user-images.githubusercontent.com/43561860/99501399-a725ef80-29b6-11eb-9f41-650a83383a92.jpg) Left picture![result_onnxru

[2020-11-18 14:02] FlorentGuinier commented on #112
Hi FD-MINGJIE, This is most likely a bug on our end.
I'm gonna investigate and will let you know if more info are needed for the repro.

Thanks for taking the time to report this!

[2020-11-18 14:36] AlexRibard commented on #109
ah! you are very correct. I only tested on latest.
It is indeed broken on 1.2.0. On this version I do get the same issue as you.
I'll figure out what got fixed and share it with you

[2020-11-18 15:12] AlexRibard commented on #109
Hey sorry about the false lead, there was indeed some fixes needed in the importer in order to make your model work.
[code]
With this change on 1.2.0 I get this result
![image](https://user-images.githubusercontent.com/12990800/99546830-d58ad700-2984-11eb-9706-282be32281e5.png)
which is correct (against onnx-runtime it's good at 10e-3), modulus the image orientation.

[2020-11-18 16:24] AlexRibard commented on #111
We currently do not have such a list. But it's a good idea, we should definitely add that :)

[2020-11-18 18:20] harmoniqpunk commented on #111
Ok. Until you publish that list can you help me by teling me if my model have any other operators beside ArgMax and GatherElements that have no GPU support? Also direct manipulation off arrays can be done on GPU?

https://github.com/nauutilus/InterHand2.6M/releases/download/0.0.1/interhand.onnx

Thank you

[2020-11-19 03:54] AlexRibard commented on #111
Yes. I'll do that.
`GatherElements` is not supported be it on CPU or GPU atm.
For tensor manipulation it will require Compute shaders. In current state of things, it is still not fully exposed to users, but I can make you a small project demo if you wish.

[2020-11-19 15:13] senbinyu commented on #109
Hi, @AlexRibard

Thanks for your great help. Now we can obtain the same results like yours.

[2020-11-19 16:04] harmoniqpunk commented on #111
This would help me Alex to have an example of how can I use Compute Shaders to perform operations on GPU. I never did this. Does this use Vulkan or OpenCL?

If would help you for this example I have truncated the model so the output is a rank 3 tensor  (batch, joints, 3d_coordinates)

Here is the truncated ONNX model: https://github.com/nauutilus/InterHand2.6M/releases/download/0.0.3/interhand.onn

[2020-11-19 19:52] albanmdb3d opened #113 "Inconsistent results across inferences (windows)"
Hello,

Up until now, I only used Barracuda on Linux. I switched to windows to do some testing. I noticed that my inferences are not deterministic. Sometimes the results are correct, sometimes they are widely off. I never had that issue on linux. I don't dispose of my memory properly. Could that be the issue ? Below are some examples.
Additionally, I notice that my bounding boxes predictions don't

[2020-11-19 20:18] mantasp commented on #113
Could you please post your main inference loop code? Maybe you are starting new inference while previous one hasn't yet finished?

[2020-11-19 21:04] albanmdb3d commented on #113
Hi,

I think I found the issue but I am still puzzled as to why it happens.
My inference is actually decomposed in two steps: the main network and some post-processing steps that are decomposed into subnetworks and manual IOps calls.
I created a network class to wrap my ONNX model. My "Forward" method is followed by the post-processing steps.

Below is my network class:
[code]

In my inference met

[2020-11-19 22:59] AlexRibard commented on #111
Ok! thanks for explaining that to me :)

Compute Shaders are simpler version of OpenCL kernels so you would probably have no issues with them.
But I'll write you some code to dispatch it and manipulate the tensor

[2020-11-20 15:30] FlorentGuinier commented on #105
Hey @tvkamara , Just to let you know that the fix is currently in landing process. I will let you know in what version it goes probably 1.3.0.

[2020-11-21 20:10] sharpgraf commented on #99
Thank you very much  !!! Works for me !
But I had the correct number of labels :)

[2020-11-22 03:40] AlexRibard commented on #99
@sharpgraf are you using the same model?
If not, would you mind sharing it? I would be curious to add it to the test suite for 1.3

[2020-11-22 08:32] sharpgraf commented on #99
sure !
notebook:
https://colab.research.google.com/github/zaidalyafeai/zaidalyafeai.github.io/blob/master/sketcher/Sketcher.ipynb#scrollTo=NoFI1msFYpCN
my converted to onnx version:
[sketcher.zip](https://github.com/Unity-Technologies/barracuda-release/files/5579163/sketcher.zip)

[2020-11-22 13:11] FD-MINGJIE commented on #112
Hi, @FlorentGuinier:
     Is there any discovery or progress?
     I found the problem lies in the local chaos in channel data storage when the channel changes between NCHW and NHWC during model conversion from onnx into barracuda(i.e. when calling Model.load() from script ONNXModelConverter.cs).
     I don't know why ONNXModelConverter class was not called when making a breakpoint in ONNXModelCon

[2020-11-23 14:05] FlorentGuinier commented on #112
Hi FD-MINGJIE, We have indeed a bug on the first reshape layer of the network.
![image](https://user-images.githubusercontent.com/20201082/99971004-e8464700-2d9c-11eb-80a1-b6eaa736a75a.png)

ONNX is channel first: _Reshape_ take a 2D tensor and convert it to 4D NCHW[1,32,16,16] shape
Barracuda import as channel last and _Reshape_ take a 2D tensor and convert it to 4D NHWC[1,16,16,32] shape

Howeve

[2020-11-24 11:48] abigos opened #114 "Odd Input Shapes"
Hi,

I have some unexpected input/output shapes when I load the attached simple model.  I expect to see a (-1,3) or similar shapes, but I see (1,1,0,1111,3).  You can verify the expected shape in Netron or similar.  Any ideas?

Thanks,
Andy

[diffuse_net.zip](https://github.com/Unity-Technologies/barracuda-release/files/5589572/diffuse_net.zip)

[2020-11-24 12:27] mantasp commented on #114
At the moment we are showing all 8 tensor dimensions we support, which sometimes is bit confusing. There is UI improvement in the works, which will reduce the noise. Here is quick tip how to decode these dimensions:
1 - sequence number (currently unused, default 1)
1 - direction number (currently unused, default 1)
0 - batch size (0 or -1 mean any batch size you pass will override this)
1 - extra

[2020-11-24 12:27] #114 closed

[2020-11-24 12:31] mantasp commented on #113
How does `PostProcess()` method look like?

[2020-11-24 12:39] FlorentGuinier commented on #112
Hey FD-MINGJIE, fix have landed and will be present in next Barracuda version (1.3.0), again thanks for taking the time to report!

[2020-11-24 12:39] #112 closed

[2020-11-24 12:40] FlorentGuinier commented on #105
Hey @tvkamara, fix have landed and will be present in next Barracuda version (1.3.0). Thanks for taking the time to report!

[2020-11-24 12:40] #105 closed

[2020-11-24 12:44] tvkamara commented on #105
Awesome, thank you very much!

[2020-11-24 12:53] FD-MINGJIE commented on #112
Awesome, too strong, thank you very much！
Have a good day!
I just got off work！

[2020-11-24 13:20] abigos commented on #114
Great - thanks for the quick clarification - much appreciated.

[2020-11-24 15:03] abigos commented on #114
Actually can I just ask for a clarification @mantasp .  I'm using the network attached and I get an error 'Off-axis dimensions must match' - but it's not clear where it's coming from.  From your description above this would load a 4096 long vector of 3 component values.

[code]

The difference in the axes is show as:  (1, 1, 1, 1, 1, 1, 1, 32) vs (1, 1, 1, 1, 1, 4096, 1, 3)  - but the expected sha

[2020-11-24 16:35] AlexRibard commented on #114
Hi @abigos can you declare your Tensor as follows:
[code]
On top of the layout @mantasp told you, we are in NHWC layout compared to NCHW ONNX.
Thus there is some internal mapping going on
[code]
It can require a bit of metal gymnastic to remember the mapping, so I would recommend using the default constructor depending on the dimension

[2020-11-24 17:47] abigos commented on #114
Doh!  Thanks @AlexRibard and @mantasp for the great support - do appreciate it.

[2020-11-24 22:00] AlexRibard commented on #111
@nauutilus here is the promised code.
[TensorManipulationInComputeShader.zip](https://github.com/Unity-Technologies/barracuda-release/files/5592982/TensorManipulationInComputeShader.zip)
On a side note we are adding `ArgMax` support.
If the compute shader doesn't solve your problem, maybe you can try replacing your logic using `Max` -> `Where`?

Let me know if it helps.

[2020-11-26 15:51] BorisKourt opened #115 "[iOS] Execution of the command buffer was aborted due to an error during execution."
Using the barracuda style transfer example, building on Unity 2020.2 for iOS 14.2, running on an iPad Pro (Spring 2020)

The version of barracuda is: 1.1.2-preview as 1.2.0 appears to cause the error I see here: https://github.com/UnityLabs/barracuda-style-transfer/issues/1

I get the following error when attempting to initiate style transfer:

[code]

This works fine on the Mac itself, running me

[2020-11-26 16:03] mantasp commented on #115
Thanks for reporting issue with 1.2.0. Regarding, iOS, this demo is meant to be desktop-only.

[2020-11-26 16:03] #115 closed

[2020-11-26 16:09] BorisKourt commented on #115
@mantasp is that a limitation for the way style transfer is implemented? Anything I can update to run style transfer on iOS?

[2020-11-26 16:11] mantasp commented on #115
In general it wasn't tested or optimised for iOS and is expected to be very slow or not work at all.

[2020-11-26 16:19] BorisKourt commented on #115
After testing style transfer using native iOS tools on these newer devices (especially the 2020 pros) it appears that the Neural Engine chip shipping with them can provide some pretty decent performance for some workloads. Does Barracuda plan to take advantage of this in the future?

I was able to style transfer a 720p back camera feed, fairly reliably and without many of the optimizations I could

[2020-11-26 17:37] AlexRibard commented on #115
@BorisKourt
Spot on. Yes we plan on adding support for neural chips for high end mobiles in the future.
Atm it is still internal WIP however.

[2020-11-27 12:06] BorisKourt commented on #115
Looking forward to it. Happy to help test it out as well!

[2020-12-01 14:28] AlexRibard commented on #92
fix has been pushed in latest

[2020-12-01 14:28] #92 closed

[2020-12-02 10:42] #91 closed

[2020-12-02 10:42] #103 closed

[2020-12-02 18:04] albanmdb3d commented on #113
Hello, sorry for the late reply.
I've upgraded to 1.2.0 which allowed me to clean up PostProcess() very nicely and it fixed the problem (I still don't know where it came from). This is really taking shape and I really like the direction Barracuda is taking. Thanks'!

[2020-12-02 18:04] #113 closed

[2020-12-02 18:18] albanmdb3d opened #116 "Broadcastable MatMul"
Hello,

I simply would like to know if broadcastble MatMul is anything you are considering. Currently, what I am trying to achieve is doing something like this

[code]
where A and B are pytorch tensors of shapes (H, W, n) and (n, k) respectively. The equivalent c# code is something like this:

[code]

So in this case A = prototypes, B = maskCoefficients. Right now, MatMul asserts the dimensions ar

[2020-12-02 18:48] albanmdb3d commented on #116
I found a workaround using Expand. I didn't know the operator existed. For anyone interested:

[code]

Edit: Actually, this is only works n >1 or k > 1. Otherwise the assertion is raised (3 != 2).
Perhaps it should be removed ?

[2020-12-02 22:40] AlexRibard commented on #116
hey @albanmdb3d !
Yes multi dim matmul is something we are looking to supporting. There is some support coded for the upcoming version (code performance is still sub-par however). The main issue atm is broadcast rules with different dimensions. We haven't found an elegant way of supporting it (without some more custom implementation that is)
One idea that has some traction is the following:
A : (7

[2020-12-03 10:42] harmoniqpunk commented on #111
Thank you @AlexRibard. I just watch on your sample code and I got it.

This was what I was ready to go but I like the shader solution.

[2020-12-03 12:03] albanmdb3d commented on #116
Hi Alex! Thanks' for the feedback. I'm glad you are working on it. For now I simply commented the assertion and it works fine so that will do for now. The performances are not great though.

On a different but related topic, I'm wondering if it is possible to create a handwritten worker that uses the shape of a previous layer output as a variable. Something like this:

[code]

Thanks

[2020-12-03 13:30] albanmdb3d opened #117 "Custom worker Reduce layer error"
Hello again.

I am working with Barracuda 1.2.0. I am having trouble with Reduce layers with custom workers.
[code]

This code always throws KeyNotFoundException: The given key was not present in the dictionary. I am positive that the key exists. This used to work in 1.0.2. Doing the same with a computeOps works however.

[code]

Am I missing something?

Thanks'

[2020-12-04 17:00] hajiarab1988 opened #118 "Running on CPU or Creating GPU Baked Worker takes almost 40 sec on Android"
Hi
I  want to run a simple code that includes Barracuda and it works fine in the editor but when I run the APK file on the phone two situations happens :

When I'm using CPU baked types like CSharpBurst, the process of worker creation takes about 1 sec but executing the model takes almost 40 seconds and makes the screen completely freeze.

When I use GPU baked types like ComputePrecompiled, worker

[2020-12-04 17:28] AlexRibard commented on #118
Judging on your model, it is indeed surprising that it goes that slow.
Out of curiosity what device are you using? And which version of barracuda?
Thanks!

[2020-12-04 17:45] hajiarab1988 commented on #118
@AlexRibard Thanks for your fast response
So is there any problem with my code?
I'm using Barracuda 1.2.0 and the phone is a Samsung galaxy prime plus

[2020-12-04 18:35] mantasp commented on #118
@hajiarab1988 is your app running on Vulkan GFX API?

[2020-12-04 18:53] hajiarab1988 commented on #118
@mantasp thanks for your response
No, it's not

My rendering configuration :
![image](https://user-images.githubusercontent.com/39706772/101202670-ce4f1300-367e-11eb-8168-17e0085bb051.png)

and if it gives any clue, I put **Graphic Emulation** on **No Emulation**

[2020-12-05 06:05] hajiarab1988 commented on #118
@AlexRibard @mantasp On a Samsung Galaxy s7, 40 seconds decreased to 12!

[2020-12-05 08:13] mantasp commented on #118
@hajiarab1988 on Android our min spec is device that can run Vulkan GFX API. (You can force it by unchecking  "Auto Graphics API" and making Vulkan first in the list and removing GL ES from the list). Some networks might work on Open GL ES 3.1, but in general we don't support this graphics API for running Barracuda. I suspect that your first mentioned device is too old to run Vulkan and compute sh

[2020-12-09 13:44] albanmdb3d commented on #116
@AlexRibard ?

[2020-12-09 16:12] mantasp commented on #118
I just tested simple project on Galaxy S8 and can confirm that slow initialization is caused by slow shader compilation on GLES 3.1+, which is fixed by switching to Vulkan graphics API.

[2020-12-09 16:12] #118 closed

[2020-12-10 04:44] #109 closed

[2020-12-10 04:47] #99 closed

[2020-12-10 04:58] AlexRibard commented on #117
Hi! Sorry for the late reply.
How are you using the model builder?
[code]
Could it be that you are stitching this layer to an input model? does the string literal of the layers matches?
What about when calling execute?

[2020-12-10 05:10] AlexRibard commented on #116
@albanmdb3d apologies for the later reply.
On which version are you on? Do you have access to `ModelBuilder : public Layer Shape(string name, object input, int axis = -1)`
It works as follows:
[code]
Be careful with the indexing on 1.2.0 as internally shapes are 8D.
Alternatively given that this op is done on the CPU, it wouldn't change much if you fed `tensor.shape.ToArray()`, or `{tensor.batch,

[2020-12-11 10:47] ROBYER1 opened #119 "Yolo v4 support?"
I was working with Yolo v2 until I saw 1.2.0 added v3 support, will there be Yolo v4 support added soon also?

[2020-12-11 11:32] FlorentGuinier commented on #119
Hey, We are interrested into supporting Yolo v4 indeed, however not ETA atm.

[2020-12-11 19:37] albanmdb3d commented on #117
Ooooh I found what causes the bug. For some reasons, It won't work on 1D arrays (in theory the op shouldn't do anything in that case).

Try the following code. It will throw the KeyNotFound error I'm talking about. I don't believe it was an issue back in 1.0.2.
[code]

Thanks' for the continuous support it's really appreciated.

[2020-12-11 21:14] albanmdb3d commented on #116
Hi Alex. I am working with Barracuda 1.2.0 so I have access to the shape op. Adding a shape layer is pretty straightforward in a builder. What is less so is using the result

[code]

Thanks!

[2020-12-13 22:03] AlexRibard commented on #117
Ok thanks! I will try out said code and check the regression then.

[2020-12-13 22:11] AlexRibard commented on #116
Ah yes, if you want to do it that way it will not work.
Unfortunately some ops only support static inputs. That is the case for Expand and the shape input.
As a rule of thumb, for shape inference, a lot of the logic is baked down at import time so anything involving a dynamic shape will unfortunately not work most of the time.
So at the modelbuilder stage, the final op with have shape baked down.

[2020-12-14 13:17] albanmdb3d commented on #117
Thanks' I'm closing the issue

[2020-12-14 13:17] #117 closed

[2020-12-14 13:18] albanmdb3d commented on #116
Oh indeed that's a clever trick. Silly me. Thank you again.

[2020-12-14 13:18] #116 closed

[2020-12-14 16:01] #100 closed

[2020-12-18 11:20] ROBYER1 opened #120 "Error when moving between preview package versions"
When upgrading/downgrading between 1.2.0 and 1.2.1 I consistently get this error in Unity 2020.2.0f1 in an Android project:

`Microsoft (R) Visual C# Compiler version 3.5.0-dev-20359-01 (8da8ba0c)
Copyright (C) Microsoft Corporation. All rights reserved.

error CS0006: Metadata file 'D:/Unity Projects/Unity_Detection2AR/Library/PackageCache/com.unity.barracuda@1.2.0-preview/Barracuda/Runtime/Plugi

[2020-12-19 13:30] Roberto7766 opened #121 "Asset import failed"
Hi,
I'm trying to import a Tensorflow based NN. I converted the network from tensorflow to ONNX and then I quantized the ONNX format. The issue is that I cannot import this into Unity because I obtain:

_OnnxImportException: Unknown type DynamicQuantizeLinear encountered while parsing layer StatefulPartitionedCall/inference_model/resnet/conv1_conv/Conv2D__6:0_quantized._

_Asset import failed, "As

[2020-12-19 18:13] AlexRibard commented on #121
Hi @Roberto7766
We don't support the operator `DynamicQuantizeLinear` atm.
Looking at it it doesn't seem too hard to add support to it.
Could you provide your onnx model for reference?

Thanks

[2020-12-19 19:12] Roberto7766 commented on #121
Hi @AlexRibard
Yes I can share the model. It is quite huge: which is the best way to share it?

Thank you

[2020-12-19 20:48] ROBYER1 commented on #88
Yolo v3 and Yolo v4 models please, preferably from Darknet but I am aware of needing to convert those to ONNX first

[2020-12-19 22:00] ROBYER1 opened #122 "Yolo-v3-tiny ArgumentException: Off-axis dimensions must match"
When using this repo for AR Foundation + Barracuda
https://github.com/derenlei/Unity_Detection2AR

I used AlexeyAB's Darknet fork to train a custom model using Yolo-v3-tiny making my own weights from scratch to make a detector for apples/oranges as a quick test.

I converted the model to a tensorflow graph then an ONNX file using your instructions, making sure to follow the rules for Yolo v3 Tiny,

[2020-12-19 22:55] AlexRibard commented on #121
ah! can you share a google drive link? or a zip file?

[2020-12-19 23:00] AlexRibard commented on #122
Hi @ROBYER1 !
Your model is perfectly valid, even if it has two outputs it's good.
From what I can see, we must have a import bug on our side and wrongly interpret the axis in `Concat`.
I'll fix it. If the fix is short enough I'll send you what code modification you need.

[2020-12-19 23:05] ROBYER1 commented on #122
Thanks Alex, and did you mean Outputs not inputs there?
I would prefer if my model only had one output as the example code in the Detection2AR just queries one Output with the worker.

Is the fact that my model has 2 outputs just completely coincidental? I made it from scratch in darknet, freshly made weights so any tips to limit a model to one output would be appreciated too!

[2020-12-19 23:29] AlexRibard commented on #122
Sorry, typo. Yes I meant it is ok if it has two outputs.
No sure why your exported model has two outputs. My guess is that it depends on the implementation.
But now that I think of it, you say that your model is a Yolo-v3
If that is the case it's missing the bottom part of the model doing the classification.
The output of this model is still a image. Looks like you exported only the top part of th

[2020-12-19 23:54] ROBYER1 commented on #122
Ah wasn't intentional in that case, before conversion from Darknet Yolo-v3-Tiny weights to Tensorflow graph to ONNX, I checked using Darknet that the model weights worked as expected. It worked perfectly at detecting Apples/Oranges with unique test images.

I can only assume that something happened during the conversion, however I had no errors during and the file looked fine. I have no way of tes

[2020-12-20 00:30] AlexRibard commented on #122
Ok so to validate the import pipeline here is what we recommend.

1* follow this guide on exporting your TF model to Onnx
https://github.com/Unity-Technologies/barracuda-release/blob/release/1.0.0/Documentation%7E/Exporting.md

2* to validate that your onnx model is indeed working what we do is we generate a random input and feed that to both onnx and tensorflow and check the output
To execute a o

[2020-12-20 01:36] ROBYER1 commented on #122
Thanks, the onnx-runtime link doesn't seem to explain how to execute a .onnx file anywhere, I want to feed it an image of an orangr or apple to validate it works as expected but can't see a good tutorial or starting point as to how to do that?

[2020-12-20 01:50] AlexRibard commented on #122
https://github.com/microsoft/onnxruntime/blob/master/docs/python/tutorial.rst
[code]

Yeah than you make sure the inferred class number matches.

[2020-12-20 13:32] ROBYER1 commented on #122
@AlexRibard thanks that was easy, I get this error when running the onnxruntime test

`onnxruntime.capi.onnxruntime_pybind11_state.InvalidArgument: [ONNXRuntimeError] : 2 : INVALID_ARGUMENT : Invalid rank for input: yolov3-tiny/net1:0 Got: 1 Expected: 4 Please fix either the inputs or the model.
`

Doubled back and check the darknet weights using darknet detector test, works as expected from the o

[2020-12-20 20:57] AlexRibard commented on #88
Side comment here:
Barracuda ***does*** run on OpenGL on Android. Drivers are spotty however so we noticed some discrepancies and compilations errors due to driver support. So we cannot guarantee 100% valid execution, hence why we do not support it.
But you can still make it run, so my advice would be to try and see.
You might be lucky.

[2020-12-20 21:03] AlexRibard commented on #122
How are you creating the input to onnx-runtime?
[code]
Looks like you passed in a rank 1 tensor. I would double check the shape of your loaded image.
Also there seems to have a problem in how you froze/exported the .pb or .onnx they both are truncated at the bottom for some reason.
Here is the model you should be getting in the end
https://github.com/onnx/models/tree/master/vision/object_detection

[2020-12-20 21:05] AlexRibard commented on #122
I found this github that seems to export correctly a darknet yolo v4 model to onnx. Might inspire you
https://github.com/Tianxiaomo/pytorch-YOLOv4

But he seems to go via pytorch. Might be easier...

[2020-12-20 21:27] ROBYER1 commented on #122
Here is my project I am using to test giving the onnx input of the camera image (simulated) in the editor through AR Simulation Package. I just have a plane with a picture of the object to be detected in the AR scene for the editor, you might find it useful for internal testing perhaps.

https://drive.google.com/file/d/1DKfwQYaL2OIIKdYYi2fUeNYURiKK9yUj/view?usp=sharing

I recorded a quick vid of h

[2020-12-20 21:53] ROBYER1 commented on #122
I tried the pytorch converter, it has an unresolved issue converting yolo v3 tiny
https://github.com/Tianxiaomo/pytorch-YOLOv4/issues/313

Feels like it is difficult to convert to .onnx files :(

[2020-12-20 23:13] ROBYER1 commented on #122
@AlexRibard the converter does work for Yolo V4 Tiny however, which leaves me in an awkward spot unless Unity Barracuda gets support for Yolo V4 Tiny models.

I may have to fall back to using Yolo V2 Tiny (which has lower performance) due to the converters for Yolo V3 Tiny not working correctly

[2020-12-21 07:09] Roberto7766 commented on #121
Hi @AlexRibard,
here the drive link.
https://drive.google.com/file/d/1itnI5uLngTYx_Q_Y2cdykH3n-N7KRVaa/view?usp=sharing

Please let me know when you download it in order to remove the link.
Thanks

[2020-12-21 13:43] ROBYER1 commented on #122
I have a proper .onnx file for my yolo v3 tiny model here, the nodes are perfect this time but having trouble getting a result https://drive.google.com/file/d/1uY81Gh2Edh63R7G_6i5KI_oVLdMCuiem/view?usp=sharing

[2020-12-21 21:50] AlexRibard commented on #122
Sorry, I must be missing something :
here the end of the latest `YoloV3-tiny` model you shared to me
![image](https://user-images.githubusercontent.com/12990800/102825152-39515700-43ac-11eb-8154-465dff2cbd48.png)
Is the output what you want? I would have imagine it would output the inferred class of the image?

[2020-12-21 21:54] AlexRibard commented on #122
Can you also share your YoloV4 model?
I'll check what is missing to make it work.

[2020-12-21 21:56] AlexRibard commented on #122
So let's summarize a bit.
* is the latest example you gave me the expected onnx model?
* does it run in unity?

[2020-12-21 22:03] AlexRibard commented on #121
Ok thanks. I have requested access. My email is barracuda-support@unity3d.com

[2020-12-21 22:08] AlexRibard commented on #122
@ROBYER1 I've tested the model you shared me (`yolov3-tiny-darkmarktest-416.onnx`) on version `1.2.1`
and validated it against onnx-runtime for a random input. I get correct results for both outputs at 10^-5 (absolute and relative error)
I'm checking with the project you gave me

[2020-12-21 22:26] ROBYER1 commented on #122
Yes that onnx is the one, I believe my issue in the project is the detection script in the Detector scene is made for a Yolo-v2-tiny model, I think the code may be difficult to adapt for Yolo-v3-tiny. The parser for Yolo-v2-tiny is made from this [Microsoft C# example](https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/object-detection-onnx#create-the-parser) but they haven't updat

[2020-12-21 22:41] ROBYER1 commented on #122
@AlexRibard I can train and convert a Darknet Yolov4-tiny-416 model to .onnx tomorrow to send over as an example for future Yolo v4 tiny support if that helps.

I also hope that the project I sent over is useful, please let me know if you have the project now as I will probably need to remove the gdrive link for privacy after.

[2020-12-21 23:00] AlexRibard commented on #122
Sorry, yeah my bad. I got confused with the outputs, I was thinking of mobilenet...
Yes the outputs are correct. I did double check the model present in the repo `yolov2-tiny-food-freeze.onnx` and this too passes the onnx validation.
So on my end, this  looks like the problem lies in interpreting the output data from the model.
I personally do not know how the classes/bboxes are encoded for yolo-v

[2020-12-21 23:09] #122 closed

[2020-12-22 16:12] ROBYER1 commented on #122
I found examples of Yolo v4/Yolo v4 tiny cfg/weights file using COCO data set - [names file ](https://github.com/AlexeyAB/darknet/blob/master/data/coco.names)(if needed) at the popular [AlexeyAB Darknet repo](https://github.com/AlexeyAB/darknet)

Yolo v4 is being encouraged to be used for Yolo training so if any work can be done to implement it in Barracuda that would be fantastic, the structure s

[2020-12-31 13:01] sharpgraf opened #123 "model does not work on android (emulator and real device)"
Hi ! Tried many options to make my model work. Used vulkan and opengl, changed baracuda versions from 1.04 to the latest preview version. I used cpu and gpu, but still nothing.
Everything works fine in editor
What could go wrong?

notebook:
https://colab.research.google.com/github/zaidalyafeai/zaidalyafeai.github.io/blob/master/sketcher/Sketcher.ipynb#scrollTo=NoFI1msFYpCN
my converted to onnx ver

[2021-01-01 08:10] tramper2 opened #124 "Onnx - ScatterElements"
Hello

i'm try to run https://github.com/PeterL1n/BackgroundMattingV2

but i got this error "OnnxImportException: Unknown type ScatterElements encountered while parsing layer 878."

How to?

thanks

[2021-01-05 10:32] tvkamara opened #125 "SpaceToDepth assert fails"
Hello,

I'm playing around with the SpaceToDepth function but an assertion fails:

[Assert.AreEqual(X.channels % (blocksize[0] * blocksize[1]), 0);](https://github.com/Unity-Technologies/barracuda-release/blob/58f8b903a25ebdc1f7e12795df0afefbefea8c05/Barracuda/Runtime/Core/Backends/BarracudaReferenceCompute.cs#L1263)

I can manually remove this assertion and the function seems to work. Is there a

[2021-01-05 13:57] mantasp commented on #125
Thanks for spotting this! Any chance you could share your model with us?

[2021-01-05 14:31] mantasp commented on #124
At the moment `ScatterElements` operation is not supported by Barracuda. But you might look into this project: https://github.com/keijiro/NNCam, which does similar thing.

[2021-01-05 14:31] #124 closed

[2021-01-05 14:36] tvkamara commented on #125
I'm actually creating a "model" with only the SpaceToDepth layer as I'm planning on then to input this output to an existing onnx model. I'm creating the spacetodepth model model like this:
[code]
Then I'm using the worker with a couple of textures (1 channel):
[code]

[2021-01-05 14:40] #119 closed

[2021-01-06 03:37] AlexRibard commented on #123
thanks for providing the model, we'll look at it :)

[2021-01-06 08:21] tonysung opened #126 "Incorrect output tensor size, does not agree with inspector"
OS: macOS 10.15.6
Barracuda version: 1.2.0-preview
Unity version: 2019.4.17f1

Executing the following ONNX model on Barracuda 1.2.0-preview produce incorrect output.
https://github.com/Linzaer/Ultra-Light-Fast-Generic-Face-Detector-1MB/blob/master/models/onnx/version-slim-320.onnx

The expected tensor shape is (1, 1, 1, 1, 1, 1, 2, 4420) for the first output, and the inspector is correct:

<img w

[2021-01-06 08:30] tonysung commented on #126
Was using incorrect input at runtime. Pls disregard.

[2021-01-06 08:30] #126 closed

[2021-01-06 08:51] tonysung opened #127 "Cannot import ONNX model of Ultra-Light-Fast-Generic-Face-Detector-1MB (version-slim-320.onnx)"
OS: macOS 10.15.6
Barracuda version: 1.2.1-preview
Unity version: 2019.4.17f1

When importing the following ONNX model:

https://github.com/Linzaer/Ultra-Light-Fast-Generic-Face-Detector-1MB/blob/master/models/onnx/version-slim-320.onnx

Produces the following error:

Asset import failed, "Assets/Models/version-slim-320.onnx" > OnnxImportException: Unexpected error while parsing layer 381 of type

[2021-01-06 09:50] Aurimasp commented on #120
Hey, thanks for sharing this issue. Could you please share an example project with us? I can't reproduce it locally.

[2021-01-06 11:24] Aurimasp commented on #123
Hi, I'm getting similar results on both Editor and Android. Could you please check my example?
[Test.zip](https://github.com/Unity-Technologies/barracuda-release/files/5775479/Test.zip)

[2021-01-06 11:42] Aurimasp commented on #123
Also, which Android device and version have you tried?

[2021-01-06 13:34] tonysung opened #128 "Inconsistent output shape for ONNX model of Ultra-Light-Fast-Generic-Face-Detector-1MB with and without optimization"
OS: macOS 10.15.6
Barracuda version: 1.2.0-preview
Unity version: 2019.4.17f1

After imported the following ONNX model:

https://github.com/Linzaer/Ultra-Light-Fast-Generic-Face-Detector-1MB/blob/master/models/onnx/version-slim-320.onnx

The inspector shows different output shapes for "scores" with "Optimize Model" turned on and off respectively:

| Off | On |
| - | - |
| <img width="352" alt="ima

[2021-01-06 14:22] ROBYER1 commented on #120
This only happens with Visual Studio Community 2019 not VS Code I noticed, what IDE are you using? I don't mind if this issue is closed as it's not a major issue.

[2021-01-06 16:18] AlexRibard commented on #125
`SpaceToDepth.blocksize` expects an array of length 2 (one block size for X and one for Y).
Try calling `builder.SpaceToDepth("spacetodepth", input0, new [] {2, 2});` instead of `builder.SpaceToDepth("spacetodepth", input0, 2);`

[2021-01-06 16:21] AlexRibard commented on #127
Hey @tonysung thank you for providing the model.
This error has been addressed in latest and will be pushed in a upcoming version.
In the mean-time are you able to modify layer `Mul.381` and `Add.383` to have rank2 constants instead of rank3 ones?

Let me know

[2021-01-06 17:50] tvkamara commented on #125
Hi @AlexRibard. The public builder function actually takes an int:

`public Layer SpaceToDepth(string name, object source, int blocksize)` See code [here](https://github.com/Unity-Technologies/barracuda-release/blob/58f8b903a25ebdc1f7e12795df0afefbefea8c05/Barracuda/Runtime/Core/ModelBuilder.cs#L622).

The int is then transformed internally into an array:

`layer.pool = new int[] { blocksize, bloc

[2021-01-06 18:36] AlexRibard commented on #125
Ah yes, my bad sorry, I missed that.
After looking at the code, you are right.
This assert shouldn't be there, I'll update the code

[2021-01-06 20:31] AlexRibard commented on #128
@tonysung I have tested your model on latest and validated it against onnx-runtime.
Happy to say that is works :)
I'll notify you once we release the version

[2021-01-06 20:34] AlexRibard commented on #121
@Roberto7766 sorry for the late reply. We do not support quantized model in Barracuda.
We don't have short term plans on supporting it, but maybe we should un-quantize the weights at import time

[2021-01-06 20:34] #121 closed

[2021-01-07 01:16] tonysung commented on #128
Thanks for the swift response @AlexRibard .

If you have a chance, would you also check the inference output w/ the to-be-released version against ONNX runtime as well?

I used this code:

[code]

Barracuda 1.2.0-preview gives me:
0.5104321,0.4892451,0.5155475,0.4832391,0.5275967

Wrist ONNX python runtime gives me:
[0.10524592 0.10519372 0.1050148  0.10521076 0.10515343]

The latter is more corre

[2021-01-07 03:11] AlexRibard commented on #128
ok, I'll check with your input.
In my test I used generated a random input, fed it to both Barracuda and onnx-runtime and compared the two outputs.
I'll get back to you with your input, but it should be fine

[2021-01-07 03:36] tonysung commented on #127
I'm not sure if I can do that. The other input to Mul.381 and Add.383 are rank3 and seems to be necessarily rank3?

[2021-01-07 06:15] Aurimasp commented on #120
I'm usually using Rider. I've just tried to test it with Visual Studio Community, but the issue doesn't reproduce on my machine with it. Does it reproduce on other machines? I believe there may be a lot of environmental variables responsible for it.

Sure, I'll close the issue. If you'll discover some more clues about it or this issue gets bothersome, feel free to reach us again.

[2021-01-07 06:19] #120 closed

[2021-01-07 08:18] yaoling1997 opened #129 "OnnxImportException: Unknown type Softplus encountered while parsing layer 20."
Hi guys,
This is the first time I'm using barracuda to import my Pytorch Model, but the OnnxImportException happens like this:
![1](https://user-images.githubusercontent.com/24959396/103868228-9286ed80-5103-11eb-8332-4d852ca8e41b.png)
Is there any chance to solve this problem? Does this mean I can't use softplus function in my model?

[2021-01-07 14:42] AlexRibard commented on #129
Hi @yaoling1997 right now it is not implemented, so you'll need to use another activation function.
(you can find the supported op here: https://github.com/Unity-Technologies/barracuda-release/blob/release/1.0.0/Documentation%7E/SupportedOperators.md)
I have added support for it and it will be present in the next release.

[2021-01-07 14:46] AlexRibard commented on #127
Rank 2 constant would broadcast to the rank3 input.
But it's ok, if it's not possible, you'd unfortunately have to wait for the upcoming version for support.

[2021-01-07 15:03] AlexRibard commented on #128
confirm that with an input of full of 0.1f I get the same results as onnx-runtime

[2021-01-07 15:06] tonysung commented on #128
Thx. Is the update going to be released soon?

[2021-01-07 15:14] AlexRibard commented on #128
Not sure, maybe next month?

[2021-01-07 19:44] abeug commented on #104
This issue is still present on version 1.2.1.

Input:
![TinyYoloV2InputBarracuda1 2 1](https://user-images.githubusercontent.com/25258352/103937297-306fbd80-50ee-11eb-8a62-d95a3b00cf05.png)

Output:
![TinyYoloV2OutputBarracuda1 2 1](https://user-images.githubusercontent.com/25258352/103937316-38c7f880-50ee-11eb-9a06-a50a95b1ce1e.png)

The output still has 3 batches when it should be 1.

[2021-01-07 20:39] abeug opened #130 "Performance difference between Version 1.0.4 and 1.2.1"
I am seeing a large performance difference between version 1.0.4 and 1.2.1. Here is some profiling from the Unity Profiler.

Unity Barracuda 1.0.4:
![image](https://user-images.githubusercontent.com/25258352/103938521-f99aa700-50ef-11eb-9554-5358f7e176ff.png)

Unity Barracuda 1.2.1:
![image](https://user-images.githubusercontent.com/25258352/103940344-c7d70f80-50f2-11eb-864a-5a88048c08be.png)

The

[2021-01-07 22:30] AlexRibard commented on #130
@abeug I haven't personally profiled on hololense which kernel would be more efficient.
We have some heuristic to guess which kernel is better, but we might be wrong on our heuristic on this platform.
It would be worth profiling there. If you want I can tell you how to switch between which kernels to select the optimal one.

But what confuses me is that in your example, it is using the _exact same

[2021-01-07 22:31] AlexRibard commented on #104
strange! Let me double check.
1.2.1 was more a patch than a full version so it could very well be that we missed to merge the fix on that version

[2021-01-08 02:12] yaoling1997 commented on #129
Thanks a lot, you guys are excellent!

[2021-01-08 02:12] #129 closed

[2021-01-08 03:17] tonysung commented on #128
I'm trying a different (perhaps simpler) model to see if I can get sth to work in the meantime:

https://drive.google.com/file/d/19j7WLsqNEYmX2gUemTlAPQuEwqbYpdM9/view?usp=sharing

I still get different results between onnx runtime and barracuda. Can you please confirm the observation and is it going to be fixed in the upcoming release too?

[code]

[2021-01-08 05:14] tonysung commented on #128
I'm trying a different (perhaps simpler) model to see if I can get sth to work in the meantime:

https://drive.google.com/file/d/19j7WLsqNEYmX2gUemTlAPQuEwqbYpdM9/view?usp=sharing

I still get different results between onnx runtime and barracuda. Would you confirm the observation and is it going to be fixed in the upcoming release too?

[code]

[2021-01-08 16:28] abeug commented on #130
I have looked at the compute shaders used on both versions in the Unity Frame Debugger. Here is that convolution that I showed previously (The biggest Conv2D):

**Version 1.0.4**
![30_V1 0 4](https://user-images.githubusercontent.com/25258352/104038611-f5779380-519a-11eb-9fa8-3037a42fb5aa.png)

**Version1.2.1**
![27_V1 2 1](https://user-images.githubusercontent.com/25258352/104038578-e98bd180-519a

[2021-01-14 15:48] sharpgraf commented on #123
hi, at the moment everything is working, the whole problem was in the System.Drawing.dll library. (i used image processor library for image processing) I also want to note that barracuda does not work on the emulator (Memu) for some reason. I used Xiaomi Redmi Note 4 in testing, it is very strange that it does not support Vulkan, but my application still starts, although it gives incorrect predict

[2021-01-14 17:04] AlexRibard commented on #123
oh! and CPU is ok?

[2021-01-14 19:05] sharpgraf commented on #123
yes, only cpu works with Xiaomi Redmi Note 4, GPU gives wrong predictions or probably the same result all the time ( 0 )
nothing works with the emulator at all

[2021-01-14 20:23] Roberto7766 opened #131 "Android not working"
I made a small project to test Barracuda. I used version 1.2.1 otherwise I had an error. The NN is fed by a constant value 0.1f and the time for executing the network is shown on the display.
The project works correctly if run on PC: the NN output is correct if compared with onnxruntime in python.
The issue is when compiled for Android: the NN output is wrong (zero for all the values) and it takes

[2021-01-14 21:10] AlexRibard commented on #123
ok, you are using OpenGL or Vulkan?
OpenGL we don't officially support/guarantee correctness as there is a lot of lack of driver support.
If it is failing on Vulkan we should take a look at it

[2021-01-14 21:12] AlexRibard commented on #131
@Roberto7766 thank you for sharing the model.
Are you trying on CPU or GPU? Vulkan or OpenGL?
Let me know

[2021-01-14 22:02] ihabkh commented on #27
Hello, I'm having a similar problem with ResNet, Could you please advice @mantasp @AlexRibard? I'm using Barracuda 1.2.1

You can find the model here: https://www.dropbox.com/s/amad4ko9opi4kts/hyb_net_weights.model
Reference: https://github.com/karoly-hars/DE_resnet_unet_hyb

[code]

[2021-01-15 08:48] Roberto7766 commented on #131
@AlexRibard I tried Vulkan and GPU. I made now an attempt with CPU and it works. Few details: the first run is 3 times slower than the successive runs. GPU does not work (it returns always zero and it is even slower than CPU).
I suppose that GPU is faster than CPU: is it possible to make the GPU work?
I also notice that during NN computation the APP is "freezed" waiting for the computation to fini

[2021-01-15 14:44] AlexRibard commented on #131
A few things,
* If using the `ComputePrecompiled` backed (or default GPUWorker) the first run is slow on purpose because we do a number of optimizations/baking out/kernel selecting that we would otherwise do during the executions.
You can validate that the successive runs (after the first one) are faster than a generic `Compute` worker.

* Ok, if you are red on Vulkan we'll check to see why it's n

[2021-01-15 14:44] AlexRibard commented on #27
@ihabkh can you provide the onnx model?

[2021-01-15 15:25] ihabkh commented on #27
Hi,
Here is the onnx model: https://www.dropbox.com/s/jhxx2kn6k9fcmyv/resnet_unet_hybrid_specific_input.zip?dl=0

[2021-01-15 15:43] AlexRibard commented on #27
Thanks a lot! I will look at it

[2021-01-15 16:39] AlexRibard commented on #27
Ok, I fixed in latest. It'll come out in the upcoming release

[2021-01-17 11:17] ArnoBen opened #132 "Error with Yolov3-tiny : Unexpected error while parsing layer 58 of type Reshape. Cannot reshape array of size 5 into shape with multiple of 2 elements"
Unity 2019.4.18f1
Barracuda 1.2.1

Hello Barracuda team,
I'm trying to use yolov3-tiny exported to onnx from pytorch but I'm getting this error when importing the onnx file in my assets:
[code]

I got the onnx file in a pretty straightforward way using ultralytics repo:

1. Download the yolov3-tiny.pt from here : https://github.com/ultralytics/yolov3/releases
2. Convert it to onnx using this (simp

[2021-01-17 16:32] AlexRibard commented on #132
@ArnoBen could you provide the full onnx model? (maybe via zip or google drive if it is heavy).
Once you share the model, I'll take a look at it

[2021-01-17 17:42] ArnoBen commented on #132
@AlexRibard  Sure thing, there you go : https://drive.google.com/file/d/1MkutpVnk8pMp3CGg6cmqjxXuevXZl-BQ/view?usp=sharing
It's 30MB.

[2021-01-17 18:00] AlexRibard commented on #132
great! thank you

[2021-01-18 08:32] ihabkh commented on #27
Thanks a lot @AlexRibard
Could you please share the fix so we don't have to wait long? Thanks for the understanding

[2021-01-19 03:08] giuntnic opened #133 "Invalid kernelIndex running onnx model"
Pulled a model from the onnx github [here](https://github.com/onnx/models/tree/master/vision/body_analysis/age_gender), specifically googlenet_age_adience and I am unable to run it using a precompiled compute shader. Stack:
[code]

There is also this error immediately preceding the above:
[code]

Relevant bits of code:
[code]

[2021-01-19 08:39] FlorentGuinier commented on #133
Thanks for reporting @giuntnic , taking a look.

[2021-01-19 09:55] FlorentGuinier commented on #133
Hey @giuntnic , I can't repro both on our latest code and 1.2.1 release. Furthermore the error above is quite weird as the "Tensor.cginc" file should be there (or nothing related to the GPU backends would work at all).

Can you verify your local Barracuda package is unaltered and the file exist please?
File should be in `Barracuda/Runtime/Core/Resources/Tensor.cginc`

Also can you share your Unity

[2021-01-19 11:53] FD-MINGJIE opened #134 "BUG: Two layers LSTM module couldn't be imported successfully."
@AlexRibard
1. A **two layers** LSTM defined by nn.LSTM(num_layers = 2)  produced following bugs:
Asset import failed, "Assets/Resources/pose2image_lr_150e_9M_LSTM_football.onnx" > ArgumentException: An item with the same key has already been added. Key: recurrent_out_c
![image](https://user-images.githubusercontent.com/43561860/105030741-3327c680-5a8f-11eb-9fe7-226297ef0b29.png)
   I found one la

[2021-01-19 15:39] AlexRibard commented on #27
@ihabkh unfortunately I cannot for this as it involves quite some files...

[2021-01-20 03:08] giuntnic commented on #133
@FlorentGuinier Barracuda package should be unaltered and I verified that the Tensor.cginc file exists (Using a different model I am able to run on a GPU backend).

 Running unity 2020.1.17f1 and Barracuda 1.0.4. Looks like I am using a slightly outdated release but I seem to recall there was a bug with this unity version where Barracuda doesn't show up in the Package Manager so I'm pulling it in

[2021-01-20 13:39] ROBYER1 commented on #132
This repository where we are using Yolov3-tiny may be useful to you also, if I get time I will try your model in our repo
https://github.com/derenlei/Unity_Detection2AR

[2021-01-21 00:47] amirebrahimi commented on #134
@FD-MINGJIE

1. Yes, the one-layer LSTM is supported. Our LSTM support is not robust though, which explains why the two-layer doesn't import. I'll look into this further.
2. Re: the shape - you can interpret the 0s as *s meaning that the shape is resolved at runtime
3. You can create a `new Tensor(1, 1, 105, 2, inputArray)` - our layout is channels last, so NCH:1,2,105 -> N1WC:1,1,105,2

[2021-01-21 06:22] FD-MINGJIE commented on #134
@amirebrahimi
     Thanks for your reply!
     Now, the input of  one-layer LSTM can't match the tensor shape [1, 1 , 105, 2] in barracuda, which produced some errors in Dense layer：
![image](https://user-images.githubusercontent.com/43561860/105288473-d80ee480-5bf2-11eb-997e-d406cde419f1.png)
![image](https://user-images.githubusercontent.com/43561860/105293690-21abff00-5bf4-11eb-9b67-0accebf2afa

[2021-01-21 06:38] FD-MINGJIE commented on #98
@Mystickal @AlexRibard:
   Could you please send me some details about LSTM via email?
   Thanks!

[2021-01-21 14:05] ArnoBen commented on #132
Thank you I'll give it a look !

[2021-01-21 20:15] amirebrahimi commented on #134
@FD-MINGJIE - okay, so I've fixed this now and it will show up in the next preview release. In the meantime, if you want to make your own changes locally - this should work:

https://github.com/Unity-Technologies/barracuda-release/blob/release/1.2.1/Barracuda/Runtime/ONNX/ONNXModelConverter.cs#L1203

`var baseLSTMOutputName = $"recurrent_out_{node.Name}";`

and

https://github.com/Unity-Technologi

[2021-01-22 19:57] amirebrahimi commented on #134
Re-opening because I missed your prior message, which I have reproduced and am currently looking into.

[2021-01-23 02:27] FD-MINGJIE commented on #134
Thanks, the one-layer LSTM still has wrong inputs like above problem! Maybe you can try to run my model.

[2021-01-24 01:36] stackedflows opened #135 "NLP processing"
I was wondering if barracuda be able soon to process models such as this

https://github.com/onnx/models/tree/master/text/machine_comprehension/bert-squad

[2021-01-24 01:51] #135 closed

[2021-01-25 16:14] AlexRibard commented on #135
It is planned yes! As so far of giving an ETA, it's a bit too early for that I'm afraid

[2021-01-25 16:35] alienflip commented on #135
Ok! Great this is good to know

[2021-01-25 16:35] alienflip commented on #135
I would be happy to help if needed

[2021-01-26 08:34] GunLengend commented on #27
I got the same issue, I'm looking for solution

[2021-01-26 13:58] Aurimasp commented on #133
Hello @giuntnic,

We created an example using the provided information, but it doesn't reproduce locally on our machines. Could you please send us the example Unity project that breaks on your machine?

I looked for other issues of similar nature in our database. Some other potential fixes to try:
* Download the latest Barracuda package from this repository and add it to the Editor with the + symb

[2021-01-26 18:37] AlexRibard commented on #27
@GunLengend can you share your model so I can test on latest?

[2021-01-26 21:05] AlexRibard commented on #135
If you have your own custom model you are targeting, we can add it to the list / make sure it imports correctly.
Atm, we are mostly looking at the off the shelve onnx models

[2021-01-28 21:43] alienflip commented on #135
Ok ... so that means that if I make a custom onnx it will not necessarily work when imported? Even if it's in the list of acceptable architectures?

[2021-01-29 10:03] FD-MINGJIE commented on #134
@amirebrahimi
Is there any process about LSTM to share with me? I hope to adopt LSTM neural network to infer using barracuda engine as soon as possible.
Thanks!

[2021-01-30 13:57] Roberto7766 commented on #131
@AlexRibard do you have any update on this issue? Thanks.

[2021-01-30 15:11] leavittx opened #136 "ScatterElements not supported"
Hi. This is similar to https://github.com/Unity-Technologies/barracuda-release/issues/124
The solution suggested isn't any good: it's much worser quality-wise.
ScatterElements should be properly supported in order to allow sophisticated models usage inside Unity

[2021-01-31 02:06] AlexRibard commented on #135
Bert is _not_ a supported architecture atm, so yes if you have a custom Bert model, it might not work.
If on the other hand your model is in the supported architecture list, yes it should import correctly

[2021-01-31 02:14] AlexRibard commented on #136
@leavittx thanks for the suggestion, we will take note.
If you have a specific model which uses that op, feel free to share it as it so we can test that it works

[2021-01-31 15:50] alienflip commented on #135
... ok ... what's BERT?

[2021-02-01 16:16] akaimody123 commented on #98
@Mystickal @AlexRibard @FD-MINGJIE
Hi, I'm having the same issue, could you please send me some details about it? My email is ucabbz2@ucl.ac.uk
Many thanks!

[2021-02-01 16:41] AlexRibard commented on #135
https://github.com/onnx/models/tree/master/text/machine_comprehension/bert-squad
https://towardsdatascience.com/bert-explained-state-of-the-art-language-model-for-nlp-f8b21a9b6270
It's the architecture you were referring to

[2021-02-01 16:53] AlexRibard commented on #98
Hi guys! We are working on making LSTM work without any special setup!
If you could link us your models we'd be happy to validate that it works on latest.
Let me know

[2021-02-01 18:05] akaimody123 commented on #98
@AlexRibard Thank you for the reply! I have sent you my model by email.

[2021-02-01 19:12] alienflip commented on #135
Ah ok yes, thanks!

[2021-02-01 21:46] abeug commented on #104
Batch size returns the expected value of 1 on version 1.3.0.

[2021-02-01 21:46] #104 closed

[2021-02-01 21:47] abeug commented on #130
Issue seems fixed on version 1.3.0.

[2021-02-01 21:47] #130 closed

[2021-02-02 07:32] FD-MINGJIE commented on #98
@AlexRibard
[two_layers_LSTM.zip](https://github.com/Unity-Technologies/barracuda-release/files/5909333/two_layers_LSTM.zip)

[2021-02-02 22:42] stackedflows opened #137 "ExecuteAsync"
I'm having trouble with ExecuteAsync : it works, but the error message says it is deprecated. What is the updated syntax?

This is the section of code that I'm having trouble with:

https://github.com/stackedflows/Machine-Learning/blob/main/Worker.cs

is there a reason this is happening? I am using version 1.0.4

Maybe its the model that I'm using?

Any help would be appreciated,

Cheers,

Kai

[2021-02-02 23:01] AlexRibard commented on #137
Oh, no worries. We just changed the name of the function to `StartManualSchedule`
So just call it as follows:
[code]

[2021-02-02 23:05] AlexRibard commented on #137
it seems I do not have access to the github you are referring to.
Apart from the error message saying it's deprecated is there anything not working?

[2021-02-03 15:29] Aurimasp commented on #131
We couldn't reproduce the issue (outputs = 0) so far on Google Pixel 4 and Samsung Galaxy Note 8 with Vulkan graphics api. Which Android device you are using? (Adding screenshots Android vs Desktop)

<img width="1143" alt="image" src="https://user-images.githubusercontent.com/26163719/106769199-5df44c00-6645-11eb-95b2-5a967e49a930.png">

[2021-02-03 15:36] Aurimasp commented on #131
I've also checked it on OpenGLES and I got all 0. Changing to Vulkan should solve the issue.

[2021-02-03 18:06] Roberto7766 commented on #131
I tried on a Xiaomi Redmi note 5 (android 9) with Vulkan and it still does not work.

[2021-02-04 01:05] alienflip commented on #137
So it seems there is still a GPU leakage warning arising, even though the code is technically working perfectly.

The model I am using is  the official MNIST model, paired with the code from:

https://github.com/MarekMarchlewicz/AI-Drawing

[2021-02-04 01:06] alienflip commented on #137
This is how I build the ONNX

https://github.com/stackedflows/Machine-Learning/tree/main/MNIST

[2021-02-04 01:07] alienflip commented on #137
Again much appreciated if you can help, absolutely no worries if not!

[2021-02-04 07:40] jmbrunskill opened #138 "Unable to import model from CustomVision.ai (Unexpected error while parsing layer block0_1_branch0 of type Split.)"
I'm trying to import an onnx model trained using Azure Custom Vision.

However I'm receiving an error with 'Split' on import.

[code]

Is this type of model supported by barracuda?
I'm trying this on the 1.3.0 preview release in Unity.

Model file is [here on google drive](https://drive.google.com/file/d/1IHNrPWgZScUlTcmPTCNiGHVcZEyh0hp3/view?usp=sharing)

[2021-02-04 15:50] AlexRibard commented on #137
ok could you share the execution code you are using?
Be sure to destroy all allocated tensors/worker

[2021-02-04 15:56] AlexRibard commented on #138
Hey @jmbrunskill ! I took a look at your model, our `Split` operator is not fully complete unfortunately.
Currently we require a `split` input.
I will add support for it. In the meantime you can just create your Split layer with split=116/2 it should work

[2021-02-04 16:39] killerantz opened #139 "Could not read tensor data for constant tensor"
Trying to import an ONNX model into Unity produces this error.

OnnxLayerImportException: Could not read tensor data for constant tensor.
Unity.Barracuda.ONNX.ONNXTensor..ctor (Onnx.TensorProto onnxTensor) (at Library/PackageCache/com.unity.barracuda@1.3.0-preview/Barracuda/Runtime/ONNX/ONNXTensor.cs:165)
Unity.Barracuda.ONNX.ONNXModelConverter.ConvertOnnxModel (Onnx.ModelProto onnxModel) (at Libr

[2021-02-04 16:54] AlexRibard commented on #139
Thanks for providing the model, I will check.

[2021-02-04 17:44] Aurimasp commented on #131
One more thing to try. Try to remove OpenGLES from the Graphics API list to make sure the device won't fall back to it. If current drivers do not support Vulkan, the app may use the second option.

<img width="574" alt="image" src="https://user-images.githubusercontent.com/26163719/106933194-50ac8f80-6721-11eb-9580-b65a5a479e4e.png">

<img width="584" alt="image" src="https://user-images.githubuse

[2021-02-04 18:20] jmbrunskill commented on #138
Thanks @AlexRibard!
Adding support for this would be fantastic.

Is adding the ‘split’ input something I should be able do to an existing onnx model? Do you have any pointers where I could learn this? Because I’m using an AutoML service I don’t have direct control over the model shape from the service.

[2021-02-04 19:23] Roberto7766 commented on #131
Is already removed from the list, only Vulkan is present.

[2021-02-04 19:46] AlexRibard commented on #138
Sure, I think it is possible to edit the onnx file directly.
Let me try it out and get back to you.

[2021-02-05 13:46] Aurimasp commented on #131
I was able to reproduce the issue and logged it into our database.
Issue Tracker link should appear soon: https://issuetracker.unity3d.com/product/unity/issues/guid/BAR-23
Thanks for reporting the issue.

[2021-02-07 07:40] leavittx commented on #136
Here is the model you can test with:
https://github.com/PeterL1n/BackgroundMattingV2
ONNX files:
https://drive.google.com/drive/folders/1cbetlrKREitIgjnIikG1HdM4x72FtgBh

[2021-02-07 19:20] alienflip commented on #137
It is in two parts:

[2021-02-07 19:20] alienflip commented on #137
using System;
          using System.Collections;
          using UnityEngine;
          using Unity.Barracuda;

          namespace MNISTPainter
          {
              //must implement Dispose()
              public class Worker : IDisposable
              {
                  //specifies 'public' objects
                  private IWorker worker;
                  private Model model;

[2021-02-07 19:21] alienflip commented on #137
using System.Collections;
          using System.Collections.Generic;
          using UnityEngine;
          using UnityEngine.UI;
          using Unity.Barracuda;

          namespace MNISTPainter
          {
              public class Inference : MonoBehaviour
              {

                  //Developer UI handling
                  [SerializeField]
                  public pCanvas paint_canv

[2021-02-08 07:04] buzziolg commented on #98
@AlexRibard Hi, having the same issue as well. Here's my model if you could/want to validate it as well.
[LSTM_CNN.zip](https://github.com/Unity-Technologies/barracuda-release/files/5941796/LSTM_CNN.zip)

[2021-02-08 11:26] abigos opened #140 "Mismatch between Compute and ComputeRef"
Hi,

I have a mismatch between the reference compute and optimized compute backends (WorkerFactory.Type.Compute vs WorkerFactory.Type.ComputeRef). I'm using 1.3.0-preview. The difference appears to be in Dense_Tilled2x2_Cached.

I've enclosed the log and the model for reference.  It's rather hard to provide the whole project, but let me know if you need any more information.

Thanks

[mismatch.txt

[2021-02-08 17:06] AlexRibard commented on #140
interesting, I will check

[2021-02-08 17:17] #127 closed

[2021-02-08 17:17] AlexRibard commented on #127
@tonysung your issue is fixed in 1.3.0

[2021-02-08 17:18] AlexRibard commented on #128
issue fixed in 1.3.0 cf https://github.com/Unity-Technologies/barracuda-release/issues/127

[2021-02-08 17:18] #128 closed

[2021-02-08 17:34] rfilkov opened #141 "ONNX Sign-Operator"
Hi,

I'm trying to import an ONNX model, but it reports the following error in the console, because Barracuda (v1.3) doesn't support the ONNX Sign-operator. Could you please add support for the [Sign](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Sign)-operator?

Thank you in advance!

"
OnnxImportException: Unknown type Sign encountered while parsing layer Sign:0.

Unity.Barracuda.ON

[2021-02-08 17:45] AlexRibard commented on #141
That shouldn't be very hard, let me add it for the next release.
In the meantime are you able to get around with `Greater/Less/LessEqual/Equal/Or/And/Not/Xor/Where`?

[2021-02-08 18:49] AlexRibard commented on #138
@jmbrunskill I managed to get a working model in Barracuda. Here is the code to do that (rename the file as .py)
[modifyonnxmodel.txt](https://github.com/Unity-Technologies/barracuda-release/files/5946041/modifyonnxmodel.txt)
Do note that your model has additional nodes that are not supported:
`ArrayFeatureExtractor` and `ZipMap` so for these you'd need to manually implement them. Shouldn't be too

[2021-02-08 19:18] rfilkov commented on #141
Thank you, Alex!
I try to utilize a ready-made ONNX model and would not like to modify it by myself.

[2021-02-08 19:31] AlexRibard commented on #141
sure ok, that makes sense. Can you provide your model so I can validate that it works?

[2021-02-08 19:44] rfilkov commented on #141
Yes, sure. But it's quite large (over 150 MB). Where should I upload it, or could I send it to you via WeTransfer.com?

[2021-02-08 19:48] AlexRibard commented on #141
sure or googledrive, what you prefer

[2021-02-08 19:49] AlexRibard commented on #98
Thank you for your models, we are working actively to make them all work

[2021-02-08 19:58] rfilkov commented on #141
I would need your e-mail address.

[2021-02-08 19:59] jmbrunskill commented on #138
Thanks @AlexRibard!
I'll have a play around with this tonight and see what I can get working.
Really appreciate the extra effort.

[2021-02-08 20:33] AlexRibard commented on #141
barracuda-support@unity3d.com

[2021-02-08 20:46] rfilkov commented on #141
I just sent you the model via WeTransfer.com. Please check your Inbox (or Spam-folder).
Please also feel free to remove your e-mail address above.

[2021-02-08 21:40] AlexRibard commented on #140
@abigos bug fixed, pushing on main

[2021-02-08 21:40] #140 closed

[2021-02-08 21:41] AlexRibard commented on #141
got it thanks

[2021-02-08 21:53] AlexRibard commented on #141
@rfilkov
Sadly this part will not work (even with `Sign` support).
![image](https://user-images.githubusercontent.com/12990800/107285990-fa479580-6a2d-11eb-9b1b-2f9c221d6cfb.png)
We only support const inputs for `Conv` weights atm

[2021-02-08 21:58] AlexRibard commented on #141
`ConvTransposeWithDynamicPads` is also not currently implemented in our importer but the pads seems to be inferable at compile time so I guess it's ok.

[2021-02-08 21:59] AlexRibard commented on #141
Also a lot of dimensions are unknown for the input.
Atm it is best to fix input dimensions (except batch)

[2021-02-08 22:15] rfilkov commented on #141
OK. Please anyway add the Sign-operator, as well as anything else you find useful and easy to implement. I'm going to test Barracuda with other ONNX models, as well.

[2021-02-08 22:30] AlexRibard commented on #141
Sure, the dynamic Conv is not the end of the world either but it'll take some time to implement

[2021-02-09 00:25] AlexRibard commented on #139
Hi @killerantz I've checked your model.
For some reason the last Gather op, the `indices` are stored as an array of string... Looking into it it is worth
`"[ \"RGVmYXVsdA==\", \"UGVhY2U=\" ]"` so not sure which encoding it is using...
So there must have been a bug in how you exported your model.
Not knowing which values to take for the indices. I removed the last bit of the model
![image](https://

[2021-02-09 00:26] #139 closed

[2021-02-09 16:57] killerantz commented on #139
Thanks for the help!

[2021-02-10 20:20] Eric-Lee opened #142 "Model import failure when moving from 1.2.1 -> 1.3.0: NotImplementedException"
Hello,

When upgrading from Barracuda 1.2.1-preview to Barracuda 1.3.0-preview, an ONNX model that previously imported successfully is now throwing the following error during import:

[code]

The layer in question is an ArgMax layer. Upon import in 1.2.1-preview, the layer has name: output__axis7 and axis: 7

Here is the model: [testnet.onnx](https://drive.google.com/file/d/13pnwuDr66VTKK5jG6ClVra

[2021-02-10 20:49] AlexRibard commented on #142
Indeed, looks like this op got lost during the bump to 1.3.0. Thanks for spotting that :)
Fixing it, will probably make it for 1.3.1

[2021-02-11 15:21] Kazuhito00 opened #143 "'InvalidProtocolBufferException' occurs when importing Tiny-YOLO v2 assets"
Hello. Thank you for the wonderful project.

I tried to import Tiny-YOLO v2 into Unity under the following conditions:
　Model : [tinyyolov2-7.onnx](https://github.com/onnx/models/blob/master/vision/object_detection_segmentation/tiny-　yolov2/model/tinyyolov2-7.onnx)(ONNX Model Zoo)
　OS : Windows 10
　Unity version : 2017.4.25f1 (64-bit)
　Barracuda version : 1.3.0

At that time, I received the follow

[2021-02-11 15:32] AlexRibard commented on #143
We do import onnx tiny-yolov2-7 zoo model.
This crashes in google's protobuf importer. My guess is that the model is corrupted.
I wouldn't be surprised that it doesn't load in onnxruntime aswell

I would re-download the whole model and try again.
https://github.com/onnx/models/raw/master/vision/object_detection_segmentation/tiny-yolov2/model/tinyyolov2-7.tar.gz
You can download the model here.

[2021-02-11 15:46] Kazuhito00 commented on #143
Thank you very much.
I was able to import the model downloaded from this link.
https://github.com/onnx/models/raw/master/vision/object_detection_segmentation/tiny-yolov2/model/tinyyolov2-7.tar.gz

Comparing the model sizes, I think it was damaged because there was a slight difference.

[2021-02-11 15:46] #143 closed

[2021-02-12 22:37] Drod917 opened #144 "ONNX Range Operator"
Hello, I have exported [this model (mobilenetv2+duc+dsntnn variant)](https://github.com/YuliangXiu/MobilePose-pytorch) successfully to ONNX using opset_version=11, then (in Python) verified with the ONNX runtime that the outputs match those of the PyTorch network.

However, when I try to import the ONNX model into Unity using Barracuda v1.3, it errors because there is no Range operator support. Is

[2021-02-12 23:19] AlexRibard commented on #144
Yeah, it seems easy enough.
We'll add it. Thanks for providing your model for reference

[2021-02-15 02:08] kirillgerasimov opened #145 "ONNX GRU support plans"
Hello,
I'm pretty new to barracuda. I'm trying to import ONNX (**Opset 12**) exported from pytorch. Haven't found information if this opset supported. It's fine if it's not.

Currently I have "Unknown type **GRU**" error when importing ONNX file.  Barracuda version is **1.3.0-preview**.
```OnnxImportException: Unknown type GRU encountered while parsing layer 669.```

Onnx (200mb)
https://drive.goo

[2021-02-16 11:55] AndreySkyFoxSidorov opened #146 "yolov4-tiny: barracuda does not support some features for yolov4-tiny?"
Hello. I'm trying to translate the trained neural network into onnx.
For some unknown reason, the neural network does not open in Unity.

Steps:
1. Trained and tested the net in google colab. ( Exemple: https://colab.research.google.com/drive/1PWOwg038EOGNddf6SXDG5AsC8PIcAe-G )
darknet detector train data/obj.data cfg/custom-yolov4-tiny-detector.cfg yolov4-tiny.conv.29 -dont_show -map
and test on

[2021-02-16 12:04] FlorentGuinier commented on #146
Hi AndreySkyFoxSidorov,

We would need a bunch of information to dig into this:
- What barracuda version are you currently using ?
- Could you share the onnx model here (random weight is fine) ?

We have green test for tiny yolov4 (tiny_yolov4_mobilenetv2_lite to be exact), however it would be good to dig into your particular instance of tiny yolov4.

Thanks
Florent

[2021-02-16 15:19] kirillgerasimov commented on #145
I went through the ONNX file. Unfortunately there are couple more operators that are not supported. I gathered them in a table.

| Used onnx operator | Barracuda 1.3 support | Comment |
| - | - | - |
| Shape | + ||
| Gather | + ||
| Unsqueeze | + ||
| Concat | + ||
| Reshape | + ||
| Conv | + ||
| Relu | + ||
| Maxpool | + ||
| Add | + ||
| Pad | + ||
| AveragePool | +? | Barracuda: Unsupported at

[2021-02-16 15:55] stackedflows opened #147 "Runtime Error: MobileNet V2-7"
I made this post on StackOverflow, would It be better to make it again here?

No problem if so.

https://stackoverflow.com/questions/66227737/unity-object-detection-barracuda-mobilenet-and-webcam

Cheers,

K

[2021-02-16 17:35] AlexRibard commented on #147
On which Barracuda version are you running?
I tested your model on v1.3.0 and validated against onnx-runtime. So things seems right on that version.

[2021-02-16 20:56] alienflip commented on #147
Ah ok, This works! Thanks you

[2021-02-16 20:56] #147 closed

[2021-02-16 21:13] AlexRibard commented on #145
@kirillgerasimov for now we do not have plans for `GRU` support unfortunately.
Looking at it however looks like we could add it to the list. What sequence length are you using?

`Gemm` should be ok, looks like you are using default values for all inputs and not transA
`ReduceMean` indeed we are missing the `ceil_mode = 0`

[2021-02-17 00:05] kirillgerasimov commented on #145
@AlexRibard Thank you for response. Sequence length is typically 8 or 16. It would be nice if GRU appears someday in Barracuda. If it emerges in your 2021 plans, post here please.

The answer is given, so I close the issue I guess.

[2021-02-17 02:08] Eric-Lee opened #148 "Error during MatMul using ComputeOps and PrecompiledComputeOps"
When attempting to call MatMul using ComputeOps or PrecompiledComputeOps, I get the following error:

[code]
There is no error if I use ReferenceComputeOps.

Tensor X has shape (115095, 1, 1, 40) [NHWC] and Tensor Y has shape (40, 1, 1, 1) [NHWC]. No transposing.

Doing my best to trace the error, I see that Unity is attempting to Dispatch kernel "Dense_Tilled2x2_Cached" with thread dimensions (0,

[2021-02-17 05:39] Eric-Lee commented on #148
I will try reshaping Tensor X to (38365, 3, 1, 40) to get the kernel dispatch arguments < 65535.

[2021-02-17 09:37] AndreySkyFoxSidorov commented on #146
Hi Florent,

Thanks for the quick response,

1. barracuda version 1.3.0
2. I tried 2 ways:
	a) darknet->pytorch->onnx
	and
	b) darknet->keras-yolo4->keras-onnx

to translate, but the result is the same - Do not open in Unity.

[yolov4-tiny_darknet_pytorch_onnx.zip](https://github.com/Unity-Technologies/barracuda-release/files/5994645/yolov4-tiny_darknet_pytorch_onnx.zip)

Thanks
Andrey.

[2021-02-17 10:18] FlorentGuinier commented on #146
So the problem is
![image](https://user-images.githubusercontent.com/20201082/108190167-e4169500-7111-11eb-9db9-b72decc6054f.png)

[2021-02-17 10:29] FlorentGuinier commented on #146
We only support const tensors for `Slice` operator parameters atm:
Input0 can be dynamic but `starts, ends, axes and steps` are only supported from const tensors atm.

A workaround would be to convert to input tensors to const in your model if possible (if input size is known and constant).

[2021-02-17 10:44] AndreySkyFoxSidorov commented on #146
Thanks for the clarifications. I will sort this out. I think it will be useful to add examples to the Documentation in the future.

[2021-02-18 01:17] #137 closed

[2021-02-18 16:42] AlexRibard commented on #145
@kirillgerasimov I'm re-opening this. Adding GRU support is a valid request and waiting for 2021 is too far. I see that we can add it in a few months.
Do you have a simpler model (that uses GRU) that we can test out?

[2021-02-18 16:46] AlexRibard commented on #148
@Eric-Lee I have fixed the issue in master, expect to see the fixes in 1.3.1 (should be release by next week).
The bug was linked to non multiple of 2 for H and W.
Can you try to make X shape of (115096, 1,1, 40) in the meantime?

[2021-02-18 16:46] #148 closed

[2021-02-18 16:48] AlexRibard commented on #146
@AndreySkyFoxSidorov I am re-opening your issue as for `Slice` inputs are const at compile time and should be baked down.
I'll let you know when the fixes are in

[2021-02-18 16:49] AlexRibard commented on #137
@stackedflows did you managed to fix the issue? If so what was it?

[2021-02-18 17:07] alienflip commented on #137
@AlexRibard  same issue as https://github.com/Unity-Technologies/barracuda-release/issues/147

[2021-02-18 17:09] AlexRibard commented on #137
I see, thank you for clarifying

[2021-02-19 00:31] kirillgerasimov commented on #145
@AlexRibard That's great news. I'll try to mess around with native libtorch dll import until then. So waiting is not a problem, if _GRU_ will be supported eventually.

Unfortunately, I don't have simplier model.

[2021-02-19 02:06] Eric-Lee commented on #148
Thanks for the quick response, Alex. I tried Mul with X shape (115096,1,1, 40) but I'm still receiving the same error.

I'm not sure if this is relevant or on the right track, but it looks like the output tensor width being 1 is also causing problems. For example in this snippet from ComputeKernelLibrary.Dense:
[code]
w=1 causes a 0 dispatch dimension and also an invalid entry.

[2021-02-24 20:00] stackedflows opened #149 "Barracuda with unity 2019.1.14f1 Personal: Are they compatable?"
Like the title says: and if so, which models are supported currently? And which versions of Barracuda can I use?

Thanks :)

Kai

[2021-02-24 20:06] mantasp commented on #149
All Barracuda versions are compatible with 2019.4.x. List of supported architectures is listed here: https://github.com/Unity-Technologies/barracuda-release/blob/release/1.3.1/Documentation%7E/SupportedArchitectures.md.
Some others might work, but it's something you would have to try.

[2021-02-24 20:06] #149 closed

[2021-02-26 01:12] JoeProgram opened #150 "On iPad 6th gen, getting error "Metal: Compute shader (Conv.Conv2DKernelKxK_T16x16_R4x4_NHWC) has 256 threads in a threadgroup which is more than the supported max of 224 in this device""
Hello,

I'm a NN newbie, so I'll do my best to explain what I'm seeing.

I've downloaded [CJ Mill's PoseNet Tutorial](https://github.com/cj-mills/Barracuda-PoseNet-Tutorial) project using Unity Barracuda.  When I build it to my iPad 6th generation _(Model Number MR7J2LL/A)_, shortly after launching XCode reports the error:

`Metal: Compute shader (Conv.Conv2DKernelKxK_T16x16_R4x4_NHWC) has 256 thr

[2021-02-26 01:36] AlexRibard commented on #150
Wow, I didn't know iPads had a limit of 224 threads per threadgroup.
For info, this is related to our compute shader implementation of convolution kernel. In this case we are busting the limit.
I'll fix the problem, thanks for flagging it :)

[2021-02-26 01:45] JoeProgram commented on #150
Thanks Alex!

I'm digging around in the Barracuda code a bit - looks like line 105 in ComputeInfo.cs is trying to catch this very issue.  Not sure why it's not working on my device...

_(I'm on Barracuda version 1.3.0 currently)_

[2021-02-26 02:02] AlexRibard commented on #150
Yeah not sure entirely why, maybe the gpu name is different on the iPad...

[2021-02-26 02:07] JoeProgram commented on #150
Doing some debugging output now.

gpuName comes back as "Apple A10 GPU".  Seems like the code should handle it.

I'm going to add a few more print statements for more info...

[2021-02-26 08:26] rainsha opened #151 "Issue when importing network with LSTM layers"
The import process goes through without issues, while at runtime passing data does not go to completion.

When creating a worker with verbose logging and then executing it the log trace is as following:
[code]

[The ONNX file ](https://drive.google.com/file/d/1PAFmu8-QM7Y7kEQkaTbI6hD3Wg6GbzQb/view)

Original network shape is as follows:
[code]

On load the network is being seen as this:
[code]

I

[2021-02-26 08:54] mantasp commented on #150
This message in the console should not prevent your network from running. It's just compute shader pipeline trying to compile all compute shaders in one go and skipping ones that are not supported on specific device.
Do you see any other issues while running that network?

[2021-02-26 16:38] JoeProgram commented on #150
Hi Mantasp,

You're right - the network does run.  I'm investigating what I can do to get the model to run faster on this device, and I was curious if this error would have any impact on the framerate.  From your feedback, it sounds like fixing this error is unlikely to improve the speed. Is that correct?

[2021-02-26 17:21] amirebrahimi commented on #151
I'm in the process of improving our LSTM support. Thank you for sending your network. I'll keep you posted.

[2021-02-26 18:53] AlexRibard commented on #150
Yeah it will not change the framerate.
We are planning to spend more time polishing our kernels for Apple mobile devices.

But atm what you can do on your end:
* reduce the input image size
* split execution over a few frame (https://github.com/Unity-Technologies/barracuda-release/blob/release/1.0.0/Documentation~/ModelExecution.md)

[2021-02-26 19:11] JoeProgram commented on #150
Thanks Alex! Both those things are definitely helping - though I'm still looking at 1-2 fps.  I'm also going to see if I can switch to a simpler model that takes less processing power.

Should we close this ticket?  The error is still there, but sounds like it's low priority.

[2021-02-26 19:20] AlexRibard commented on #150
Yeah let's close it for now.
We'll keep in mind. The general solution is not compile kernels that are used for a platform. Which is something we are looking into

[2021-02-26 19:20] #150 closed

[2021-02-27 15:58] michalek-marcin opened #152 "Custom yolov2-tiny (VOC) to onnx for use in Unity with Barracuda"
Hi,

I found project https://github.com/keijiro/TinyYOLOv2Barracuda which works great with onnx model used in this sample project.

I'm trying to use my custom trained yolov2-tiny model in Unity with Barracuda. I trained my model with darknet and convert to ONNX using this tools:
https://github.com/hollance/YOLO-CoreML-MPSNNGraph
https://github.com/onnx/onnxmltools

One thing is very weird for me.

[2021-02-27 19:36] AlexRibard commented on #152
@michalek-marcin I've checked both of your models. They import correctly.
And `yolov2_voc` is executing correctly (validated with onnxruntime)
However for `yolov2_custom` it runs correctly, but as you mention outputs NaN. I've checked with onnxruntime and they also output NaN.
After investigation layer `batchnorm1` `scale` and `B` both have contain NaNs. Also a lot of other batchnorm layer also co

[2021-02-27 19:37] AlexRibard commented on #152
closing since the onnx model contains NaN and onnxruntime exhibit the same inference behaviour

[2021-02-27 19:37] #152 closed

[2021-02-28 00:08] NathanWoo opened #153 "Error when importing ONNX into Barracuda: Asset import failed, "Assets/Model/MaskRCNN-10.onnx" > OnnxImportException: Unexpected error while parsing layer 1143 of type Squeeze. The given key was not present in the dictionary."
When importing the [Mask-RNN ONNX model](https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/mask-rcnn) from ONNX model zoo into Barracuda, I had the following error
[code]

[2021-03-01 09:19] michalek-marcin commented on #152
@AlexRibard I finally found reason: https://github.com/allanzelener/YAD2K/issues/65. I had to correct one script which convert my darknet model to keras.

[2021-03-01 16:19] AlexRibard commented on #152
ok great to hear it :)

[2021-03-01 20:27] AlexRibard commented on #153
hey thank you for raising this one.
We'll take a look

[2021-03-02 00:09] amirebrahimi commented on #134
Sorry, somehow I missed this post @FD-MINGJIE. This involved more refactors, but the good news is that we now have much better LSTM support. We have one minor release coming out soon and then this will land in the next release.

[2021-03-02 13:38] CoaNewco opened #154 "Undisposed Tensor data"
I've had some problems when importing .onnx models to Unity, apparently, they were unreadable. This was solved when I upgraded Barracuda to 1.3.1. Now, new problem appeared. First of all, Unity eats up my RAM memory, not in play, but in 'idle' mode. Second, I disposed Tensor data in code, but Unity registers that it has found some undisposed Tensor giving me the shape that has nothing to do with t

[2021-03-02 15:32] CoaNewco opened #155 "GPU inference not working on android phone"
How could I use android gpu for inference using barracuda? While using profiler I can see that application is only utilizing CPU and not GPU, even though I used _WorkerFactory.Type.ComputePrecompiled_ hoping it would run on phone's gpu just like it uses PC's GPU.

[2021-03-02 15:50] AlexRibard commented on #155
Hi @CoaNewco if you use `ComputePrecompiled` worker it will run on on your phone's GPU.
Reasons why you might not see it on the profiler:
* GPU profiling is not working. How are you profiling your application on Android?
* some nodes of your NN are not implemented in compute worker. Usually that is not the case, but you never know.

In any case, could you provide the NN so we can test on our side?

[2021-03-02 16:01] CoaNewco commented on #155
I am using Unity's profiler to check resources usage. NN I am using is [Resnet18](https://github.com/onnx/models/blob/master/vision/classification/resnet/model/resnet18-v1-7.tar.gz) . We're in testing phase at the moment, but in the end we would like to use barracuda to infer our model of image segmentation in real time on android devices. So far, barracuda is proving to be really useful, and we'r

[2021-03-02 17:05] Eric-Lee commented on #148
Thank you, after updating to 1.3.1 my issues are fixed!

[2021-03-02 17:56] mantasp commented on #155
Unity Profiler supports GPU profiling only on some platforms, if it doesn't work on Android, you might try RenderDoc.

[2021-03-02 17:58] mantasp commented on #154
Regarding GPU resource leak, could you please show your inference / cleanup code?

Regarding "Unity eats up my RAM memory", any chance you have Unity Profiler open? I think I have seen such behavior caused by the profiler..

[2021-03-02 19:39] AlexRibard commented on #155
Yeah that resnet runs fully on GPU, so things should be good.
I didn't profile that exact model, so would have to see how fast it runs.
Definitely keep us posted once you have numbers.
I'd recommend the `Snapdragon profiler` it's pretty good on Android

[2021-03-02 19:39] AlexRibard commented on #148
great!

[2021-03-03 08:00] CoaNewco commented on #155
I'll try both of the suggested profilers. Thank you both.

[2021-03-03 08:23] CoaNewco commented on #154
`
private IEnumerator RunCoroutine(byte[] pixels) {

		Tensor modelTensor = TransformInput(pixels);

		Dictionary<string, Tensor> inputs = new Dictionary<string, Tensor> {
			{ INPUT_NAME, modelTensor}
		};

		WorkerDeepLab.Execute(inputs);

		Tensor outputTensor = WorkerDeepLab.PeekOutput(OUTPUT_NAME);

		List<float> temp = outputTensor.ToReadOnlyArray().ToList();
		float max = temp.Max();
		int

[2021-03-03 20:30] amirebrahimi commented on #151
I've tested this locally with the changes I have in our development branch and it runs on randomly generated test data successfully. Look for these changes in our next release.

[2021-03-04 13:07] jackie-sh commented on #151
What is the estimated time for the development changes to make it to a release?

[2021-03-06 01:10] NathanWoo commented on #153
Thank you! By any chance, you guys figured out why? I would really appreciate it if you guys could show how this issue can be addressed.

[2021-03-08 19:15] AlexRibard commented on #153
Not quite yet unfortunately, sorry to keep you waiting.
I'll let you know asap when we've pushed a fix for it.

[2021-03-09 20:03] fmannhardt commented on #132
Any news on this issue? I am getting the same issue on a TinyYOLOv3 trained model based on the PyTorch implementation here:
https://github.com/ultralytics/yolov3/releases
On Barracuda 1.2.0-preview:

[code]

For newer versions, all I get is:

[code]

This is on import of the model. Is there some part of the PyTorch implementation that is not supported?

[2021-03-09 21:23] ArnoBen commented on #132
@fmannhardt FIY, I used the same repo. I don't have more info since the project was not pursued on my end.

[2021-03-10 04:40] AlexRibard commented on #132
@ArnoBen and @fmannhardt sorry about that. That particular model got through the cracks.
I'll work on it, should be ok.
I only have the yolo-v3 version. Would it be possible to export me all through yolov5 as reference to see if the import?

[2021-03-10 07:32] fmannhardt commented on #132
@AlexRibard thanks for the quick response. Is there any workaround? The exception seems to indicate that this is something about non-fixed tensor dimensions `FindLargestNecessaryTensorShape `? Would changing this be helping until a fix is released?

For the YOLOv5 version (which seems to be not linked to any paper) the pre-trained ones you can download here:
https://github.com/ultralytics/yolov5/r

[2021-03-10 11:35] fmannhardt commented on #132
I think I found a possible workaround. Their export script (both in https://github.com/ultralytics/yolov3 and https://github.com/ultralytics/yolov5) uses ONNX opset 12. If I specify opset 9 the 'tiny' variant loads without error. I yet have to test if it properly works though.

Here are the three YOLOv3 models:
https://www.dropbox.com/sh/id14h5ygu54504x/AADmLLAAVdtyHl0oZeqHiKCxa?dl=0
Actually the

[2021-03-10 12:36] fmannhardt commented on #132
I have investigated further. Exporting to opset 9 means that I can import the YOLOv3-tiny model. However, this produces the following warning in the current PyTorch 1.8.0 and ONNY 1.8.1:

[code]

Maybe this can be ignored, but I am not sure.

[2021-03-10 16:55] AlexRibard commented on #132
Yeah so the problem with the yolov3 is this part
![image](https://user-images.githubusercontent.com/12990800/110666192-178b9300-8197-11eb-98e3-909952df63e6.png)
Our code breaks in the constant fusing atm.
So if you want a work around, you can edit the onnx to modify that Pad layer to have fixed pads.
That warning should be ok. There was some discrepancy between Pytorch and onnx upsample code in op

[2021-03-11 22:10] JoeProgram commented on #91
Hi @AlexRibard - have there been any updates on support for spatial padding?

I believe I'm seeing the same issue as the original poster:

- I'm taking the BlazePose model MediaPIpe's github at  https://github.com/google/mediapipe/blob/master/mediapipe/modules/pose_detection/pose_detection.tflite
- I'm converting it with tf2onnx (version 1.9.0)
- When importing it to Unity (2019.4.18f1) with Barra

[2021-03-12 14:44] ParkHaeChan opened #156 "ONNX file import failed with AssertionException: Assertion failure. Value was False"
Hi, I'm trying to import onnx file to unity but it fails with this error message.
The model is style transfer network, so it needs two images for input.

I tried this onnx file as inference at python-onnxruntime and it worked well.

Network model looks like:
[code]

And this is how I save the onnx file:
[code]

Also, many similar warnings occured: (about 70?)

Thank you for help.

[2021-03-15 15:05] AlexRibard commented on #91
@JoeProgram can you share the model please? The BlazePose model mentioned in this thread is working correctly on 1.3.1
I am not sure about the second one however.

[2021-03-15 15:09] AlexRibard commented on #91
@JoeProgram can you share the model please?
Yes this issue about non spatial padding is something we should address. I'll add it to the list, as it's not hard. I hope we have time for the next release

[2021-03-15 15:18] AlexRibard commented on #156
Hey @ParkHaeChan sorry to hear that.
Could you provide your onnx model? I've tried to export from the pytorch code you liked but there is a few errors in the code ( adaptive_instance_normalization not found)

[2021-03-15 15:31] ParkHaeChan commented on #156
Thank you for help @AlexRibard .
This is full Net class code:
[code]
others are same as before.

Attached is onnx file.
[AdaInStyleTransfer.zip](https://github.com/Unity-Technologies/barracuda-release/files/6142517/AdaInStyleTransfer.zip)

[2021-03-15 16:05] AlexRibard commented on #156
ok thanks a lot.
Checking the model, looks like a few edge cases in our constant fusing code. I'll fix them

[2021-03-15 23:29] InternetSalmon commented on #91
@JoeProgram I was able to produce correct output from the model in my project after making some changes to the padding compute shader. An official fix would be greatly appreciated.

[2021-03-17 09:53] SUPEZ opened #157 "Trying Yolov5s.onnx model in Barracuda 1.3.2 cause problem off-axis dimensions"
Hi there, recently tried importing model yolov5s in format ONNX into Unity 2019.4.20f1 with Barracuda 1.0.4 . Several similar errors occurred:
### **Unity:**
[code]
### **Netron:**
![image](https://user-images.githubusercontent.com/44005910/111445569-94c98180-871c-11eb-8e34-7c1c29d856a1.png)

I was looking for similar solutions to the problem and came to the conclusion that for now I need to chang

[2021-03-17 16:02] FlorentGuinier commented on #157
Hey Supez, first thanks for sharing your feedback!

Indeed Barracuda 1.0.2 had very light >4D tensor support, as you have noticed 1.3.x releases are the way to go for this :).

In regard to the error on 1.3.x i'm looking into it atm :)

[2021-03-18 10:10] FlorentGuinier commented on #157
Hey again Supez,

So indeed we had a bug that your network allowed to discover, thanks!

`Slice` layer were in some case wrongly computing output tensor size --> **fix is currently in landing mode** and will be in next Barracuda patch. (if step is 2 and start is 1 output size was (initial_size/2)-1!)

_By the way:_ Something not immediatly obvious:
* ONNX is channel first and this network output 5

[2021-03-18 10:36] SUPEZ commented on #157
Thanks for the quick answer, looking forward to the next update.

[2021-03-19 07:31] FlorentGuinier commented on #157
Hi Supez, fix is in master and will be availalbe with next patch aka 1.3.3 -> closing the bug.

Thanks again for your feedback this will probably help many others too!

[2021-03-19 07:31] #157 closed

[2021-03-19 18:33] AlexRibard commented on #151
We'll release the code in v1.3.2 next week

[2021-03-19 18:37] amirebrahimi commented on #151
Actually, this will be v1.3.3

[2021-03-19 18:57] AlexRibard commented on #156
@ParkHaeChan pushed fixes for your model. Passes validation against onnxruntime on latest.
Expect to see if in v1.3.3 next week

[2021-03-19 18:57] #156 closed

[2021-03-19 20:01] AlexRibard commented on #132
Hey guys!
Wanted to tell you that I've pushed a fixed for all those models in 1.3.3 (yolovs_spp, yolov3, yolov5s)
(yolov3_tiny has some import issues that will not make it in 13.3 unfortunately).

I'm keeping the ticket opened as I did notice some precision issues when running models. Currently only valid against reference at 10^-2 relative error (10^-5 absolute).
Give the output range I think it'

[2021-03-19 20:07] AlexRibard commented on #153
Hey so I took a look at your model.
We haven't implemented the op `RoiAlign` atm. Definitely in our radar. I'll keep you posted once it gets pushed

[2021-03-19 20:09] fmannhardt commented on #132
Thank you for the quick fix, I hope to be able to retry next week.

[2021-03-22 17:53] amirebrahimi commented on #98
This work is now complete and will be included in v1.3.3.

[2021-03-22 17:53] #98 closed

[2021-03-22 17:55] #151 closed

[2021-03-22 17:56] amirebrahimi commented on #134
This work is now complete and will be included in v1.3.3.

[2021-03-22 17:56] #134 closed

[2021-03-22 17:56] amirebrahimi commented on #95
This work on LSTM is now complete and will be included in v1.3.3.

[2021-03-22 17:56] #95 closed

[2021-03-23 17:24] NCEEGEE opened #158 "Errors when importing ONNX model with stacked BiLSTMs into unity"
Hi!
I'm running into issues when importing the following model : [stacked_BiLSTMs.zip](https://github.com/Unity-Technologies/barracuda-release/files/6191567/stacked_BiLSTMs.zip). Getting the following error :
[code]
The issue is possibly a duplicate of https://github.com/Unity-Technologies/barracuda-release/issues/98 .

[2021-03-23 19:14] amirebrahimi commented on #158
Hi @NCEEGEE. I brought this in to our latest main branch, which has the recent LSTM fixes. Unfortunately, this model makes use of a bi-directional LSTM, which is currently not supported. I'll confer with the team.

[2021-03-23 20:26] NCEEGEE commented on #158
@amirebrahimi Thank you for the reply. In theory, would it play nice with 1.3.3 if I rewrote the model with sequences of regular LSTMs followed by LSTMs that go backwards, instead of using the bidirectional keras layer?

[2021-03-23 20:38] smasish commented on #98
[model.zip](https://github.com/Unity-Technologies/barracuda-release/files/6192583/model.zip)
@AlexRibard  I got the same issue. Here is my cnn-lstm model.

[2021-03-23 22:48] amirebrahimi commented on #98
@smasish can you send me an onnx exported version?

[2021-03-24 00:32] smasish commented on #98
@amirebrahimi I can't convert h5 to onnx format. That's why I posted if someone can help me to convert cnn-lstm model h5 fromat to onnx .

[2021-03-24 00:48] NCEEGEE commented on #158
@amirebrahimi I understand. Is there a scheduled date for the release with LSTM fixes? If not, is there any chance you could test this model and tell me if it's going to be compatible? I dare not get started on the training.
Here's the pass with LSTMs :
[code]

[2021-03-24 00:48] amirebrahimi commented on #98
@smasish - try using https://github.com/onnx/keras-onnx

[2021-03-24 01:02] AlexRibard commented on #158
@NCEEGEE we are running a bit late this week, so those fixes should be out next week

[2021-03-24 01:07] AlexRibard commented on #98
Code should be pretty straightforward:
[code]

[2021-03-24 01:09] amirebrahimi commented on #158
@NCEEGEE - stacked LSTMs are supported, but we don't support the reverse direction either (i.e. only forward). Could you try `keras.backend.reverse(x)` instead of setting `go_backwards=True` and send me that model?

[2021-03-24 01:21] NCEEGEE commented on #158
@amirebrahimi Thanks for investigating! Here it is
[code]

[2021-03-24 01:39] smasish commented on #98
@AlexRibard  I run the same code to convert my cnn-lstm model but it throws the following error.

TypeError: must be str, not NoneType

[2021-03-24 02:17] amirebrahimi commented on #98
Are you passing the path to your .h5 file to `load_model()`?

[2021-03-24 02:42] amirebrahimi commented on #158
Thanks @NCEEGEE. This produces a [`ReverseSequence`](https://github.com/onnx/onnx/blob/master/docs/Operators.md#ReverseSequence), which we don't support in Barracuda. Could you try exporting with opset=9 to see if that produces a different set of ops for the reverse? `ReverseSequence` was introduced in opset 10.

[2021-03-24 12:04] NCEEGEE commented on #158
@amirebrahimi Sure thing. Here it is

[2021-03-24 15:49] AlexRibard commented on #158
@NCEEGEE are you sure about the model? It still contains `ReverseSequence`
Make sure you are exporting with opset_version==9

[2021-03-24 15:55] smasish commented on #98
@amirebrahimi  Yes, here is the code
keras_model = load_model('C:/Users/admin/Desktop/All ML result4/cnnlstm/model_CNNLSTM_norm.h5')
onnx_model = onnxmltools.convert_keras(keras_model)
onnxmltools.utils.save_model(onnx_model, output_onnx_model)

Error is showing for 2nd line -  onnxmltools.convert_keras.
TypeError: must be str, not NoneType

[2021-03-24 15:57] AlexRibard commented on #98
Yeah I tried also with
[code]

From what I got from searching the issue is that keras2onnx doesn't work well with tf2.
I would open a ticket on their github

[2021-03-24 16:02] NCEEGEE commented on #158
@AlexRibard Well, here's another attempt in case I screwed something up.

This is the conversion code I used :
[code]

[2021-03-24 16:06] AlexRibard commented on #158
hum strange... Let me try to retrograde onnx version

[2021-03-24 16:14] AlexRibard commented on #158
ok I tried, doesn't work. Also it would seem that keras2onnx does whatever it wants with opsetversion.
That model is not even opset=9 valid.
`ValidationError: No Op registered for ReverseSequence with domain_version of 9`

So I think we can add `ReverseSequence` to the ToDo list

[2021-03-24 18:13] NCEEGEE commented on #158
@AlexRibard Thanks for adding it to the list. How long do these features typically take to be implemented from the moment they're added to the list? Don't mean to put pressure, I just need to figure out my next move.

Please let me know if there is anything I can do to help.

[2021-03-24 18:15] AlexRibard commented on #158
That depends on the priority. Unfortunately for this you are the only one to raise it. So it might take a while.
If you want a work around you'd have to implement `ReverseSequence` in keras with other ops like slice/transposes...

[2021-03-24 18:16] NCEEGEE commented on #158
I'll get right on that. Thank you!

[2021-03-24 22:45] brgishy commented on #136
If Barracuda could run the BackgroundMattingV2 onnx model, that would be amazing!

[2021-03-25 00:56] AlexRibard commented on #136
agreed, bumping up the priority

[2021-03-25 14:24] xywang01 commented on #145
Hi @AlexRibard. Is there any chance to also add the ScatterND support? Thanks so much!

[2021-03-26 10:28] AmbroxMr commented on #144
Any solution to this problem at this time?

[2021-03-26 20:02] NCEEGEE commented on #158
If you guys ever find the time, can you give this model a shot? Ditched the backwards LSTMs.

[2021-03-26 23:26] L4Z3RC47 commented on #124
Sorry to re-open this. Are there plans at all to support ScatterElements in the future?

[2021-03-27 00:12] brgishy commented on #124
I believe they plan on supporting this.  Here is an identical issue that is still open (https://github.com/Unity-Technologies/barracuda-release/issues/136)

[2021-03-29 15:19] #155 closed

[2021-03-29 15:23] mantasp commented on #154
You also have to Dispose() the worker when it's not needed anymore. Another pattern we see is that script owning GameObject destruction is not properly handled and Dispose() for input tensor is not called in such case. Typically adding cleanup code in OnDestroy() method helps with the issue.

[2021-03-29 15:40] mantasp commented on #145
@xywang01 please create separate issue for ScatterND support, also please provide some context for your use case. Thanks

[2021-03-29 15:52] mantasp commented on #145
@kirillgerasimov is there any particular reason why you would pick GRU over LSTM?

[2021-03-29 16:10] Aurimasp commented on #142
Hello Eric-Lee. I have verified this fix in Barracuda 1.3.1 and will close the case.

[2021-03-29 16:10] #142 closed

[2021-03-30 07:42] CoaNewco opened #159 "Warning when importing .onnx neural network concerning Resize layer"
When I import onnx model  that incorporates Resize layer I get a warning.  Now, I know that internally model gets converted to NN and only then it's used, so I tried to manually convert it and save it using ModelWriter.Save(). When I do this, Resize layer becomes Resample2D but still I get warnings that point me to Resize layer.
![ModelWarning](https://user-images.githubusercontent.com/79917924/11

[2021-03-30 07:58] FlorentGuinier commented on #159
Hi CoaNewco,

In Resize node ONNX definition https://github.com/onnx/onnx/blob/master/docs/Operators.md#Resize there is a `nearest_mode` parameters. This warning mean we only support `round_prefer_floor` for it. In other word if the network is using something else like `round_prefer_ceil` we will still apply `round_prefer_floor` (and thus the warning). A workaround if possible is to change the net

[2021-03-30 08:12] CoaNewco commented on #154
Actually that was the case, I figured that out few days ago. I thought that I don't have to dispose of the worker if I use PeekOutput() as per documentation statements, but in reality I had to call Dispose on workers in OnDestroy() method. I wanted to update the issue but haven't had time. Thank you a lot :)

[2021-03-30 09:00] CoaNewco commented on #159
I will get right back at you. Thanks for the advice!

[2021-03-30 09:56] CoaNewco commented on #159
On an unrelated issue, can I truncate or somehow optimize ArgMax() function? Currently it's giving me the biggest overhead of 100+ milliseconds. Both of my networks work in range from 5-10 milliseconds, so ArgMax is giving me the biggest headache. I'm trying to lower the execution of the whole code to approximately 40ms or lower.

[2021-03-30 10:21] FlorentGuinier commented on #159
Humm interresting there is a bunch of performance caveat with ArgMax() atm, for example on the Compute/GPU backends it introduced extra transposes when not done in the channel axis. However those timing seems worst that than, is it possible for you to share your network please? I would like to take a look.

Also what backend are you using?

Thanks:)

[2021-03-30 10:49] mantasp commented on #111
ArgMax support landed in Barracuda 1.2.1

[2021-03-30 10:49] #111 closed

[2021-03-30 10:56] #154 closed

[2021-03-30 11:33] CoaNewco commented on #159
[decoder.onnx](https://we.tl/t-7bfVU7vEEd) net on we transfer. I'm using ComputePrecompiled backend. Any advice on these issues are more than welcome. Thank you a lot!

[2021-03-30 16:58] kirillgerasimov commented on #145
There is no particular reason. I was just checking out what object detection capabilities I could implement using Barracuda for my project.

I have integrated some robust networks suggested by other researchers. As far as I know, I have many options to do so besides Barracuda (IPC, DLL etc).

[2021-03-30 20:56] smasish commented on #98
@AlexRibard  Have you fixed this converting issue?

[2021-03-30 22:04] amirebrahimi commented on #98
@smasish - this seems to be a bug with their exporter. As @AlexRibard suggested it would be best to add a comment to this [pre-existing issue](https://github.com/onnx/keras-onnx/issues/665) and see if you can work around the export issue. I'd suggest bisecting your model until you can pinpoint what may be causing the issue. Unfortunately, there's not much more we can do here.

[2021-03-31 09:56] getarobo commented on #152
@michalek-marcin I am trying to do exactly what you mentioned and glad it worked out! If you don't mind, would you be kind enough to give some tips or advices or even scripts before go deep into this rabbit hole? Thanks!

[2021-04-01 02:30] tramper2 commented on #124
i posted it 1. JAN and now is 1. Apr

[2021-04-01 15:36] AlexRibard commented on #159
@CoaNewco I do not see ArgMax in your model?
Are you using Tensor.ArgMax for the final output?
If you append a ArgMax directly in your model it will use the GPU backend. And not the CPU one
Can you tell me if this function is optimized enough for you?
I've been putting off optimizations for ArgMax due to time constraints for 1.3.3.
So if the current implementation is not fast enough I'll push some

[2021-04-01 16:03] AlexRibard commented on #159
FYI @CoaNewco I replaces `nearest_mode` to `round_prefer_floor` and `coordinate_transformation_mode` to `half_pixel` and your model runs and is valid to 10^-5 compared to onnxruntime

[2021-04-01 16:47] AlexRibard commented on #98
@smasish yeah the problem is really on `keras2onnx` side.
Are you able to re-create your model in pytroch? Should be ok no?

[2021-04-01 16:51] CoaNewco commented on #159
Dear Alex, on behalf of NewCo. company, we are extremely satisfied with everything Barracuda is offering. We managed to execute two intertwined models in less than 10ms, which is extraordinary. This is all running on PC and our goal, also our next step , is to push everything to Android platform(we're talking about **_real time semantic segmentation_**).

I don't have ArgMax inside my model. I'm u

[2021-04-01 16:51] AlexRibard commented on #124
well we are getting more traction on this now :) so prio is definitely up a notch now
Could you guys provide specific onnx models were you are using `ScatterElements`? It would be useful for us to verify that your models are working.

[2021-04-01 17:02] AlexRibard commented on #159
yes ok, that's what I thought.
Here is what you can do:
[code]
let me know

[2021-04-01 17:06] AlexRibard commented on #159
also if you want a bit more perf, try changing `ComputeInfo.channelsOrder` to `ChannelsOrder.NCHW` should speed up convolutions.
FYI this mode is a bit experimental, so do check that the inference is correct.
(I've checked with your model, things looks fine however)

[2021-04-01 17:56] AlexRibard commented on #158
Tested on 1.3.3 against onnxruntime, all seems good. Version should come out this week
Do you have a specific input size you want to try out?

[2021-04-01 17:56] #158 closed

[2021-04-01 18:01] NCEEGEE commented on #158
@AlexRibard Thanks for getting back to me! No need to test further, I should be able to figure it out from there.

[2021-04-01 18:44] AlexRibard commented on #144
I've pushed support for Range in latest.
It didn't make it for 1.3.3, will come out in 1.3.4
@AmbroxMr could you provide your model so I can test it out?
thanks

[2021-04-01 18:44] #144 closed

[2021-04-01 18:49] AlexRibard commented on #141
closing as `Sign` operator is implemented.
@rfilkov will open a new issue for your model

[2021-04-01 18:49] #141 closed

[2021-04-01 18:52] #138 closed

[2021-04-01 18:53] AlexRibard commented on #138
model runs without `ArrayFeatureExtractor` and `ZipMap` so closing for now.
@jmbrunskill create a new ticket if you want us to implement those two ops

[2021-04-01 18:55] AlexRibard commented on #125
closing, in 1.3.3 the assert is removed

[2021-04-01 18:55] #125 closed

[2021-04-01 18:57] AlexRibard commented on #94
you can inspect the model inputs in the UI Inspector.
Be sure to name your inputs as expected as have the same shape as shown in the UI.
Let me know

[2021-04-01 18:58] AlexRibard commented on #90
sorry for the late reply.
Does the model runs now?
We do have all of the onnx github models working and in our CI atm. So could you provide more details on how the specific hardware you are running with?

[2021-04-01 19:01] AmbroxMr commented on #144
Im using a model recently added to PyTorch 1.8:
`torchvision.models.detection.fasterrcnn_mobilenet_v3_large_fpn()`

[2021-04-01 19:10] AlexRibard commented on #144
ok let me export that

[2021-04-02 09:37] michalek-marcin commented on #152
Hi @getarobo,

If you have any problems with conversion from darknet to onnx, please follow this steps:

1. Use this tool: [https://github.com/hollance/YOLO-CoreML-MPSNNGraph](url)
  1.1 Use yad2k.py script for convert from darknet to Keras:
`python3 yad2k.py -p path_to_cfg path_to_weights save_path_for_h5_file`
  1.2 Use coreml.py script to convert from keras to CoreML:
`python coreml.py`
2. Use

[2021-04-03 15:04] NCEEGEE opened #161 "Mismatching input shape"
Hi! I've a model built with keras that processes the strokes as a user is drawing something. The input shape is [batchSize, numberOfPoints, 3] where 3 is the x and y of a point, along with a value indicating if the point is the last in a given stroke. The numberOfPoints is padded but varies between different batches.

When importing the model into unity, unity expects the input shape [ *, 1, 3, *]

[2021-04-04 21:31] NCEEGEE commented on #161
Nevermind! I wrongfully assumed this line in the docs meant we should transpose none of the inputs to NCHW.

Realized my mistake after reading more carefully. Sorry!

[2021-04-04 21:31] #161 closed

[2021-04-05 00:07] NCEEGEE commented on #158
@AlexRibard Actually, I'm still running into issues. With 1.3.3 the model imports fine, but I'm getting an error and a warning when trying to run inference.

Joining the model which uses 3 stacked LSTMs, however the issue also occurs with a single LSTM using all default keras settings.

Here's the error :

System.Collections.Generic.Dictionary`2[TKey,TValue].get_Item (TKey key) (at <eae584ce26bc40

[2021-04-05 06:04] getarobo commented on #152
@michalek-marcin  thank you so much, I will try this right now!!!

[2021-04-05 17:02] dfu5823 opened #162 "Onnx/Barracuda compatibility with gpytorch models?"
I am wondering if Barracuda is compatible with onnx files generated from Pytorch models that are not specifically a neural network torch.nn.Module.
In particular, I am looking to generate a gaussian process (GP) model using GPyTorch, which is an implementation of GPs built on top of Pytorch. Specifically, will a model of the type: (gpytorch.models.ExactGP) be able to be exported as an onxx file? I

[2021-04-05 17:11] mantasp commented on #162
At the moment we have no plans to support it. But would be curious to hear more about your use case in context of Unity game engine.

[2021-04-05 20:12] dfu5823 commented on #162
I am trying to run a GP on iOS though Unity. Initially was planning to train on device but machine learning on device seems not really feasible atm. So then the current plan was to train the GP on the web and use Barracuda to get the model on the device -- that was my use case. Will consider other options now.

[2021-04-06 01:21] AlexRibard commented on #158
@NCEEGEE I've just tested out your latest model in 1.3.3
On my end it works fine (checking the final output `dense` with `[2,3,17,1]` input)
Could it be that you are trying to peek an internal layer?
In any case can you share the inference call? (with the output you are trying to query?)

[2021-04-06 01:41] AlexRibard commented on #162
@dfu5823 do correct me if I am wrong.
I am under the impression that a simple GP inference is `simply` a matmul of an input random variable and SVD of your covariance matrix + a few other operators?
If the covariance matrix is known, you can do the SVD on your own. And then build the GP process inference in onnx (assigning the matrix directly from the computed SVD, and your random variable as inpu

[2021-04-06 01:55] NCEEGEE commented on #158
@AlexRibard Initially was calling peekoutput with no arguments. However I get the same results if trying to read "dense".  Here goes :
[code]
edit : the execute call also generates the errors

[2021-04-06 10:18] CoaNewco commented on #159
Dear Alex, I've had some problems with modification of my model. TBH, I haven't used onnxruntime. We export our models from PyTorch directly to onnx, and in PyTorch framework we don't have option to change nearest_mode and coordinate_transformation_mode. I've been having some troubles with setting up onnxruntime, so I would be much obliged if you could pass me modified model or point me to some do

[2021-04-06 13:59] AlexRibard commented on #159
ah! sorry for the confusion.
I was referring to Barracuda's `ModelBuilder` class.
I'll write you the execution script

[2021-04-06 15:04] AlexRibard commented on #159
Ok so two part:
For editing the model for it to run, here is the model and said code to edit it
https://drive.google.com/file/d/1EJqSKjL_AqugS2brbL1NP2DbqKsAOHlX/view?usp=sharing
[code]

[2021-04-06 15:30] AlexRibard commented on #159
And here is the inference code, by appending ArgMax as an op to the model.
I checked it runs on the GPU. (slowish path as I mentioned, but much faster than CPU)
[Inference.txt](https://github.com/Unity-Technologies/barracuda-release/files/6265784/Inference.txt)

[2021-04-06 16:32] CoaNewco commented on #159
Thank you greatly @AlexRibard ! I will set it all up and get back to you!

[2021-04-06 18:28] amirebrahimi commented on #158
@NCEEGEE - this is a bug that we'll fix in a future version; the issue is that you have to pass the memories explicitly even if your LSTMs did not specify explicit inputs for those. In the future, these will be initialized if not explicitly set as inputs to the model. Use this code snippet to append to the inputs that you pass to `worker.Execute()`:

[code]

[2021-04-06 18:50] NCEEGEE commented on #158
@amirebrahimi @AlexRibard  Very cool! Thank you both!

[2021-04-09 18:01] guoguoguilai opened #163 "Incorrect Output Shape"
I am using customized PoseNet based on ResNet34. I found that the output shape in Inspector is correct, which is (1,28,28,2016). However, the output shape after inderence is wrong, which is (1,32,32,2016)

![image](https://user-images.githubusercontent.com/47267017/114222031-a52dee80-99a0-11eb-84cb-c9468f7a0352.png)

How can I solve this problem?

[2021-04-09 18:07] AlexRibard commented on #163
Interesting... Can you provide the model?

[2021-04-09 18:12] mantasp commented on #163
@guoguoguilai output shape often depends on input shape, are you passing the same shaped inputs as they are recorded in ONNX model?

[2021-04-09 18:13] guoguoguilai commented on #163
Thanks for your help.&nbsp;The link is : https://digital-standard.com/threedpose/models/Resnet34_3inputs_448x448_20200609.onnx
发自我的iPhone

------------------ Original ------------------
From: AlexRibard ***@***.***&gt;
Date: 周六,4月 10,2021 02:07
To: Unity-Technologies/barracuda-release ***@***.***&gt;
Cc: PageGuo ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [Unity-Technologies/barracuda-rel

[2021-04-09 18:31] guoguoguilai commented on #163
Yes! You are right. Thanks for your help! Finally I found that the input size was wrong.

[2021-04-09 18:31] #163 closed

[2021-04-10 10:37] guoguoguilai opened #164 "Different Result between Onnx-runtime/Tensorflow"
Hi,
I am using modified ResNet18 and PoseNet, which contains multiply input and output.
[code]
I ran into Debug Mode in both Python and Unity, the following is my result:
![image](https://user-images.githubusercontent.com/47267017/114266716-5036ba80-9a2a-11eb-9743-2f45e5a2a0d6.png)

Given the same input image (448*448), the output value were different.
In Unity ,the result of output[2] float array

[2021-04-12 02:33] AlexRibard commented on #164
@guoguoguilai am I correct to assume that the problematic model was shared here: https://github.com/Unity-Technologies/barracuda-release/issues/163 ?

[2021-04-12 03:14] guoguoguilai commented on #164
The issue was resolved. Just be careful of the default RGB/BGR Channel and Normalization between Barracuda and Onnxruntime

[2021-04-12 03:14] #164 closed

[2021-04-12 09:48] CoaNewco commented on #159
Hello @AlexRibard. We've used the last week to try to set it all up and we've had some success' and some difficulties. We have used the code you have provided us with to implement ArgMax inside of our model. That worked like a charm, but we still have some problems reading the values from ArgMax, so the benefits aren't all that great. With the current model, our output is 38x23 so we still have 87

[2021-04-12 15:15] AlexRibard commented on #159
Few points:
I would need to fully profile your network to be sure about the numbers.
But let me try to answer them.
* 100-140ms lost to reading the result, do note that fetching the result implies a synch between the CPU and GPU.
So after we schedule the network, you're going to need to wait on the GPU to finish in order to get the result on this frame.
If you are not reading the result and everyt

[2021-04-12 15:15] AlexRibard commented on #159
I'll give a shot at profiling your model to see were the bottlenecks are

[2021-04-12 15:16] AlexRibard commented on #164
Interesting! Could you detail a bit on the differences?

[2021-04-12 21:12] AlexRibard commented on #159
@CoaNewco update on this.
I've profiled your model:
* main culprit: `SoftMax` at the end is hitting slow CPU path
* `Transpose` flanking it are also expensive
* `Resize` is not that much, the last one takes 5ms, but that isn't much compared to `Conv_81` which takes 33ms
Overall without those ops, model takes `44ms` total

I think all these are on us really. There isn't that clean of a workaround f

[2021-04-16 10:39] CoaNewco commented on #159
Dear @AlexRibard, first of all, many thanks for all your help so far.

In this [link](https://we.tl/t-EzFCdCLcOA) I have shared with you two models using WeTransfer. There you can find encoder and decoder onnx models that we're using for semantic segmentation. Bear in mind that we've converted this models from PyTorch using torch.onnx module in Python. Training and re-training will be done in PyTo

[2021-04-16 11:32] TheBricktop opened #165 "Getting data out of the model"
Hello, after reading the docs about working with tensors and output data im kinda confused how does one get the particular data out of nn models.
For example model ouput shape is (1,1,18,2944), i have to get out data from third and last array, what I have to do to get them out?

[2021-04-16 20:40] AlexRibard commented on #165
Hi! Fair enough question!
First off here is the relevant documentation:
https://github.com/Unity-Technologies/barracuda-release/blob/release/1.0.0/Documentation%7E/TensorHandling.md
Once you have recovered the output of the worker, you can access data with multidimensional accessors:
[code]
For your case it is probably
[code]
Now if you wish to extract a whole Slice into a Tensor directly, you can

[2021-04-19 06:04] zaino opened #166 "Some clarification on Barracuda tensors rank fixed at 4"
Hello!
I have a model that works fine in PyTorch, but when I run it in Unity, it’s not behaving like it’s supposed to.

I think the problem is this: one of the input tensor is a mask of 0 or 1 (only one is ever 1), kept as floats to make later operations easier for me. Now, in PyTorch that tensor is supposed to be of rank 2, shape(1,4). I then transform it into an index with torch.nonzero( mask[0]

[2021-04-19 15:56] AlexRibard commented on #159
Ok, thanks. I'll take a look at it.

[2021-04-19 16:05] AlexRibard commented on #166
Hi! @zaino can you share the model you are having issues with?
You are correct, Barracuda operates on rank4 (NHWC) tensors.
[code]
things gets a bit harry coming from Pytorch as we need to transpose NCHW (native pytroch) to NHWC Barracuda.
The final mapping is as follows
[code]
I hope that makes sense?

[2021-04-19 17:29] fabiozinno commented on #166
Hi Alex, thanks for the quick reply!
Unfortunately I cannot share the onnx model as is, since it's work stuff.
I'll see if I can whip up a similar toy example to share.

What you said makes sense and gives me some more insight.
To give you more detail, the reason why I need an index is because my model has 4 sub-modules in a ModuleList, and based on the mask, I want to call inference on the right

[2021-04-19 21:41] zaino commented on #166
Hi Alex, thanks for the quick reply!
Unfortunately I cannot share the ONNX model as is, since it's work stuff.
This is the snippet code for the model's forward():

[code]

This works in pytorch, and the right model is selected. In pytorch, the shape of _masks_ is (1, 8).
In Unity, it appears _index_ ends up always being 0.
To test if the problem lies with the shape of masks in Barracuda or in torc

[2021-04-19 22:13] zaino commented on #166
Quick update, there obviously is a way to peek at the tensors in Barracuda, and it's to make the model output them :)
So I did it:

[code]

and when peeking at them in Unity, for a `selmask = [0, 0, 1, 0]` coming from Unity,  ` index = 2`, like it should.
Unfortunately though, the model is not behaving like it does when I hardcode `selmask = torch.tensor( [[0,0,1,0]] )` on the python side. It real

[2021-04-20 02:44] AlexRibard commented on #166
Additionally to query intermediate layers without specifically changing your model, you can call
[code]

[2021-04-20 02:47] AlexRibard commented on #166
@zaino given that your model is private IP, I think it will be easier if we take this offline.
Our support email is barracuda-support@unity3d.com, feel free to email us.

[2021-04-21 11:41] CoaNewco commented on #159
***UPDATE***

Good day @AlexRibard, sorry if I'm bothering you, but just wanted to get you a little update we've done. In this [link](https://we.tl/t-2WeD4YYhtZ) you can find updated decoder model. We've removed softmax from our model to get some performance and so far it's looking better. Could you share any advice on how to maximize optimizations(???) bearing in mind that our goal is to push mod

[2021-04-21 14:33] AlexRibard commented on #159
Thanks. I'll check your new model.
I've optimized `softmax` a bit for your last model. It's now running better, but not mobile speed I'm afraid.

[2021-04-23 09:04] giga1992 opened #167 "How can I load my models from streaming assets on Android device?"
I'm having some problems figuring out how to load my models from streaming assets using ModelLoader.LoadFromStreamingAssets function and figuring out the path for my android device. Any help would be appreciated. Also, soon I would be trying to do the same for iOS device, so the question would be the same for this issue.

[2021-04-23 16:34] AlexRibard commented on #159
The main performance problem with your model is layer
135 Conv: it's doing a conv 1x80x80x4096 with a 3x3x4096x512
That number of channels results in a very costly operation.
This takes 235ms compared to layer 111 512 -> 150 channels.
layer 73 for example 2048 -> 512 takes 0.22ms

We could probably have a more optimized operation for this case (high channels, low-ish spatial dim and output channel

[2021-04-23 16:36] AlexRibard commented on #159
`StartManualSchedule` details can be found here:
https://github.com/Unity-Technologies/barracuda-release/blob/release/1.0.0/Documentation~/ModelExecution.md
The way to use it is the following:
[code]
This will schedule 5 layers per frame. In your case it would not help that much, because it's really that one op layer 135 that is the bottleneck

[2021-04-25 19:59] TheBricktop commented on #165
Well im not entirely sure how the tensor.AsFloats() work, does it stuff all of the jagged array objects into one dimensional array?
Is there any good way to get only X,Y or C array of data?

[2021-04-25 23:22] AlexRibard commented on #165
tensor.AsFloats() yes dumps everything in a 1D array.
I am assuming that you are you wanting to access a single C at a given x,y?
In that case you have a few choices
* iterate of all C
[code]
that would be the simplest.
* add an additional  `StridedSlice` layer to your model using the `ModelBuilder`
[code]
now you have an additional output to your model which will output said slice

[2021-04-27 09:32] CoaNewco commented on #159
Thank you a lot @AlexRibard. One last(hopefully, and big sorry if I'm annoying) question for you is, how do you debug models? How can I check which layer takes how much time, etc, etc. Every bit of information is important. Thanks again.

[2021-04-27 10:32] CoaNewco commented on #167
Hopefully this will help.

        var path = Path.Combine(Application.streamingAssetsPath, "your.file");
        UnityWebRequest www = UnityWebRequest.Get(path);
        www.SendWebRequest();
        yield return new WaitWhile(() => !enc.isDone);

        myWorker= ModelLoader.Load(www.downloadHandler.data).CreateWorker(WorkerFactory.Device.GPU);

[2021-04-27 14:26] AlexRibard commented on #159
We should probably have a dedicated page on the docs explaining.
You need to use the Unity profiler.
https://docs.unity3d.com/Manual/Profiler.html
It can show CPU/GPU timings and memory use. We have counters per layer so you can get a sense of what takes what amount of time.
You can also profile on mobile.
https://docs.unity3d.com/Manual/profiler-profiling-applications.html
Although on Apple you n

[2021-04-27 14:39] gioriog opened #168 "How to run a custom NN model for detection on a single image"
Hello everyone, I have trained a custom yolov3 model and succesfully converted to a onnx format for Unity.
My application has to create an image from a camera and use it as input to the onnx model. Then get the detection and show the result.

![0](https://user-images.githubusercontent.com/45177062/116260144-b9cafe80-a776-11eb-8d85-f6ba56ce8da0.png)
![0result](https://user-images.githubusercontent.

[2021-04-27 14:56] AlexRibard commented on #168
@gioriog thanks for the code.
Can you provide the onnx model you are using as well?

[2021-04-27 15:02] gioriog commented on #168
Yes sure. Here you are. File wa too big for a zip.
https://drive.google.com/file/d/1uqhFHXIAAh-HChWwTRwyVd94tvEFHkJb/view?usp=sharing

[2021-04-27 15:12] AlexRibard commented on #168
thank you

[2021-04-28 08:05] CoaNewco commented on #159
Thank you again for all your advice.

[2021-04-28 08:05] #159 closed

[2021-04-29 05:06] ParkHaeChan opened #169 "ONNX model warnings and import error occured (1.4.0 version)"
Hello, I found warnings and errors while importing my onnx file.

 I reported this issue a month ago and it was solved with 1.3.3 version.
[https://github.com/Unity-Technologies/barracuda-release/issues/156](url)

 But It has some warnings and NNModel result was not fully returned.
(right image should be same size with left images - version 1.3.3)
![issue_not_fully_returned_133](https://user-image

[2021-04-29 06:55] FlorentGuinier opened #170 "test"
test

[2021-04-29 06:55] FlorentGuinier commented on #170
sdfdsf

[2021-04-29 07:00] FlorentGuinier commented on #170
asdsad

[2021-04-29 07:00] FlorentGuinier commented on #170
retest

[2021-04-29 07:00] #170 closed

[2021-04-29 09:39] FlorentGuinier commented on #53
It should not affect the result, aka Barracuda tensor should be a transposed version of the pytorch one (given some epsilon in values)

[2021-04-29 09:41] FlorentGuinier commented on #58
@derenlei Are you still experiencing problem? If so does latest barracuda (1.4.0) improve the situation?

[2021-04-29 09:43] FlorentGuinier commented on #65
@JackWei0310 Closing the issue as problem seems to be solved/explained, please reopen if you are still experiencing an issue.

[2021-04-29 09:43] #65 closed

[2021-04-29 10:06] FlorentGuinier commented on #70
@castanor In the case of Burst the execution is jobifyed. This mean that FlushSchedule() enqueue needed jobs but don't wait for completion. When you latter do worker.PeekOutput().ToReadOnlyArray() call will thus be blocking until all scheduled job finished.

An option if you want to slice inference timing on many frame could be to profile your network layer by layer and do worker.FlushSchedule(blo

[2021-04-29 10:10] FlorentGuinier commented on #84
@marcomameli1992 Did the above solve your problem? :)

[2021-04-29 10:17] FlorentGuinier commented on #87
@mohsen0311 Closing as issue did not get an update, please reopen if needed.

[2021-04-29 10:17] #87 closed

[2021-04-29 10:27] FlorentGuinier commented on #88
We have test for Yolo-v3-tiny from darknet and Yolov4 (tiny_yolov4_mobilenetv2_lite) on Barracuda 1.4.0. However there are probably other variation of Yolov3 and v4 that do not import. Could you try the model you are targeting on Barracuda 1.4.0 please?

[2021-04-29 10:29] FlorentGuinier commented on #123
@sharpgraf closing the issue as there was no update on it. Please reopen if this is still a problem.

[2021-04-29 10:29] #123 closed

[2021-04-29 10:30] FlorentGuinier commented on #133
@giuntnic closing the issue as there was not update on it, please reopen if this is still a problem.

[2021-04-29 10:31] #133 closed

[2021-04-29 11:19] FlorentGuinier commented on #20
@LyazS this had been added to our backlog, closing the github issue.

[2021-04-29 11:19] #20 closed

[2021-04-29 11:27] FlorentGuinier commented on #73
Here are info about vulkan support of oculus in unity : https://developer.oculus.com/blog/vulkan-support-for-oculus-quest-in-unity-experimental/.

[2021-04-29 11:28] FlorentGuinier commented on #73
@HuMMeRSI closing the issue as it seems the problem is solved/explained, please reopen if you are still experiencing troubles.

[2021-04-29 11:28] #73 closed

[2021-04-29 11:34] FlorentGuinier commented on #90
@sid0913 closing the issue as there were no update on it. Please reopen if you are still experiencing the problem.

[2021-04-29 11:34] #90 closed

[2021-04-29 11:34] FlorentGuinier commented on #94
@mosca-ops closing the issue as there were no update on it. Please reopen if you are still experiencing the problem.

[2021-04-29 11:34] #94 closed

[2021-04-29 13:25] FlorentGuinier commented on #168
@gioriog looking at the code is see a few things that might be around the problem:

1 - Model take 416x416x3 input, if i read correctly the RT from camera is resized to it using TransformInput() itself depending on cam.targetTexture being 416x416, if this is not the case tensor will contain corrupted data afaics.
2 - var output = worker.PeekOutput(); model contain 3 differents output, you may want

[2021-04-29 13:50] FlorentGuinier commented on #169
@ParkHaeChan Thanks for reporting this! This look like a regression in 1.4.0. Here is the related unity bug : https://issuetracker.unity3d.com/product/unity/issues/guid/BAR-57.

[2021-04-29 14:22] gioriog commented on #168
Hello @FlorentGuinier, thank you for your feedback.
The Render Texture 'targetTexture' is a game Object defined for the camera and his size is 416x416, so it should be ok.
I tried to pass as parameter the name of the output layers (082_convolutional, 094_convolutional and 106_convolutional) to PeekOutput function and those are the results respectively
![0result](https://user-images.githubuserconte

[2021-04-29 14:38] FlorentGuinier commented on #168
Yes the model in Barracuda should receive an input in the same range it was trained in python. Computing std deviation and mean in both environement would help check that

imho you found the problem :)  var output = `worker.PeekOutput().ToRenderTexture()` make no sense here! As you say the output of yolov3 are not textures but rather bounding box and predictions, so you will need to check this par

[2021-04-29 14:57] gioriog commented on #168
Ok I think now I am starting to understand how it works. I will try to interpret the result of the tensor and then I will draw the bounding box on the image on my own.
My mistake was that I though PeekOutput returned itself the Image with bounding box.
Thank you for clarification, I will try to write some code and let you know if I managed to do it.

[2021-04-29 16:48] AlexRibard commented on #53
closing, @tomasondrias feel free to create a new issue if the results are not as expected

[2021-04-29 16:48] #53 closed

[2021-05-03 09:25] FlorentGuinier commented on #77
Hi Widgertius,

Update on the above on Barracuda 1.4.0:

* Question/Model 1: We don't support float `scales` in `Upsample` atm (next version will have proper error message here), support for this is already in the backlog.
* Question/Model 2: We don't support layer `SplitToSequence` at the moment. I have added it to the backlog.
* Question/Model 3: As Alex said we want to improve handling of large

[2021-05-03 10:27] FlorentGuinier commented on #85
@DanielDorDev Just tryed to repro with sent model and code above in thread, however I don't see the spike. Could you share a minimal repro project + how to please? You can send it at `barracuda-support @ unity3d.com`

[2021-05-03 11:29] FlorentGuinier commented on #168
Pleasure! Closing the issue. Feel free to reopen :)

[2021-05-03 11:29] #168 closed

[2021-05-03 15:26] FlorentGuinier commented on #81
Hi @adeboissiere we believe there is a good chance this is fixed in 1.4.0 could you try on this version please?

[2021-05-04 14:29] DaphiFluffi opened #171 "OnnxImportException, converting .pb model to .onnx fails (tensorflow_to_barracuda.py and tf2onnx)"
Hi everyone,

I have a quite specific situation and any help is apprechiated.

Versions:
  * Google Colab
  * Windows 10
  * Barracuda Release Version 1.2.1 (the last one with tensorflow_to_barracuda)
  * Unity 2019.4.8f1

My Problem:
I have successfully trained a YOLOv3 Tiny model with Darknet. Then I converted it to a saved_model with the save_model.py script from this https://github.com/hunglc0

[2021-05-04 14:36] FlorentGuinier commented on #171
Hi @DaphiFluffi ,
As you have noticed we don't maintain `tensorflow_to_barracuda.py` anymore. The onnx import path is thus were we need to focus here. Could you share the converted `.onnx` on this thread (random weights are fine) or via `barracuda-support @ unity3d.com` please?

This look like a bug on our side.

Thanks
Florent

[2021-05-04 14:43] DaphiFluffi commented on #171
Hi @FlorentGuinier,

I am uploading the model to my Google Drive and will send you the link via email shortly.

Thank you for helping
Daphna

[2021-05-04 15:03] DanielDorDev commented on #85
It is an old topic I forget which project version I used.
At what platform did u try to run the repro? low-end mobile?
The problem is in low-end mobile, Conv layers could take too much time for single frame budget, so bottleneck could occur, which lead to crushes

But even in better mobiles\laptop problem seems, the barracuda GPU interface is happening in the render thread and must be manually exe

[2021-05-05 15:31] AlexRibard commented on #85
@DanielDorDev we have improved a bit our CPU scheduling time in latest version.
Ofc, the best would be for us to support command buffers to avoid all scheduling cost altogether, but that is in the works atm.
Point noted for Conv on lower end mobiles

[2021-05-05 15:34] FlorentGuinier commented on #85
I was refering to 1.5s spike on editor, witch i could not repro.

Indeed. We are actively working on improving performance on mobile. However depending on target hardware and model size a slicing strategy will probably be mandatory.

When Barracuda is running on GPU it is indeed running along the rendering system, this is on one hand a Unity limitation (one graphic device) but on the other hand a

[2021-05-05 15:46] danieltanfh95 commented on #91
What changes are needed actually?

[2021-05-06 07:45] Sun-Pak opened #172 "Different result between onnx exported pytorch & barracuda"
HI. something strange found when i run barracuda using onnx model exported from pytorch.
i run the same image between unity and colab, but the result is different.
I found that the tensor values are different.
but. i use colab tensor value to barracuda, it works well.
I think converting texture2d to tensor is wrong.
The following code referenced the api.
Please let me know if you have any problems

[2021-05-06 08:25] FlorentGuinier commented on #172
Hi @Sun-Pak , let me rephrase to be sure i understand the problem:
- The code above is working as expected (Barracuda match colab result), however you would prefer not to have to do the range convertion from [0-1] to [-1,1] manually?

[2021-05-06 08:43] Sun-Pak commented on #172
my onnx model trained [-1,1] normalization. so i convert  [0,1] to [-1,1].
same problem happen when using [0,1] in the trained onnx model.
because tensor values are different.
I create a file to see the tensor value .(test.txt)

[2021-05-06 09:08] FlorentGuinier commented on #172
Ok, thanks for the clarification. So indeed we are missing flexibility when converting Textures to Tensors. It would be good we provide a scale and bias parameters when converting from texture.
Thanks for the feedback. This has been added to the backlog.

In the meantime a bunch of potential workaround:
* option1: modify the model in python so it take input in the [0-1] range.
* option2: manually

[2021-05-06 09:15] fmannhardt commented on #132
I can confirm that we got a YOLOv3 Tiny variant running when making sure that all the parameters e.g. to certain Slice layers were made constant. Maybe for other encountering similar issues. Have a look at ONNX Simplifier (https://github.com/daquexian/onnx-simplifier) which can remove unnecessary non-constant values. It will also remove the part that I showed above.

[2021-05-06 09:16] fmannhardt opened #173 "NonMaxSuppression operation returns invalid/arbritray result when no boxes are detected"
We have an issue when using the NMS operator in ONNX in the most recent Barracuda version (1.4.0). When the model does not detect any boxes, there are anyway some results returned from the NMS operator. All with confidence score close to 0.

I debugged the error until the code here:
https://github.com/Unity-Technologies/barracuda-release/blob/76077c0b2de7254b4f559a398a622cda072e7bf5/Barracuda/Runt

[2021-05-06 09:20] FlorentGuinier commented on #132
Awesome, thanks for feedback!

[2021-05-06 09:20] #132 closed

[2021-05-06 09:29] FlorentGuinier commented on #173
@fmannhardt Thanks for feedback and debugging! We will look into it.

[2021-05-06 13:38] NicoLenssen commented on #88
@FlorentGuinier : Is the tiny_yolov4_mobilenetv2_lite model that you are referring to available somewhere? And how did you convert it from darknet to ONNX?

[2021-05-07 00:28] amirebrahimi commented on #173
Thanks, @fmannhardt - confirmed on our end. Will report back when this is fixed.

[2021-05-07 03:08] Sun-Pak commented on #172
Thank you for recommand.  option1 is very simple, but i don't think it's a model problem. because, when i compared tensor of [0,1] range ,from same image, in unity and colab , it's different. Therefore, the results in the model trained [0,1] were also different.
I'll try the rest of the options you mentioned.

[2021-05-07 05:48] Sun-Pak commented on #172
I have a question related to the above.
As API, Using "Texture as input", I can use this code
var tensor = new Tensor(texture, channelCount);
https://docs.unity3d.com/Packages/com.unity.barracuda@1.0/manual/TensorHandling.html

when i used this code, the tensor of 1channel image was different from colab.
Here, the curious question is how the bias and scale affect when converting a 1-channel image

[2021-05-07 07:03] FlorentGuinier commented on #172
You might be encoutering a color space different between python input texture and C# texture. I would dig toward that direction (dump values and verify you actually have exact same data as Tensor input to network).

[2021-05-07 07:34] FlorentGuinier commented on #88
I think it came from https://github.com/hunglc007/tensorflow-yolov4-tflite but i'm actually not sure!
Idea would be to convert from Darknet to TF using the above repo.
Then from TF frozen graph to ONNX using https://docs.unity3d.com/Packages/com.unity.barracuda@2.0/manual/Exporting.html

[2021-05-07 07:49] FlorentGuinier commented on #162
Closing as there is no activity on the thread, please reopen if needed.

[2021-05-07 07:49] #162 closed

[2021-05-07 07:51] FlorentGuinier commented on #167
Closing as answer was provided, thanks @CoaNewco!

[2021-05-07 07:51] #167 closed

[2021-05-07 08:22] Sun-Pak commented on #172
well, I made a simple exercise to help you.( different tensor result between colab and unity)
It is easy to understand if you compare the text file output from colab and unity.
I agree with you that the color space is different. I think the way Unity reads images is different from Python.
+ The axe image has a different tensor result. but simple straight line image has same tensor.
https://colab.r

[2021-05-07 08:24] FlorentGuinier commented on #172
the channelCount parameter allow to override default behavior when converting texture to tensor. By default you have:
`var tensor = new Tensor(texture);`
tensor will have a shape of (1,texture.height,texture.width,texture.numchannels) for example 4 for an RGBA texture.

however if `var tensor = new Tensor(texture,1);` is called
tensor will have a shape of (1,texture.height,texture.width,1), if tex

[2021-05-07 08:35] Sun-Pak commented on #172
Yes,  in my case, i use 1-channel image. so It is correct to use.
Tensor tensor = new Tensor(_target, 1);

[2021-05-07 09:12] FlorentGuinier commented on #172
Thanks for the code. I played a bit with it and try to compare tensor from pytorch and unity. To do that i have used your notebook and added the following:

print("shape1:",img_tensor.shape)
print("type1:",type(img_tensor))
print("std", img_tensor.std())
print("mean", img_tensor.mean())
print("sum", img_tensor.sum())``

pytorch tensor std,mean and sum is then
std tensor(0.1535)
mean tensor(0.0256)

[2021-05-07 10:00] FlorentGuinier commented on #171
Thanks @DaphiFluffi , just to confirm we got the model, we will look into it.

[2021-05-07 12:28] FlorentGuinier commented on #136
ScatterElement support have been added to the backlog, closing the github issue. Will let you guys know when it happens (no ETA for now).

[2021-05-07 12:28] #136 closed

[2021-05-07 12:30] FlorentGuinier commented on #145
As LSTM seems to be a good alternative to GRU, closing the issue/feature request for now. Please reopen if you feel GRU have an edge other LSTM for your use case (or in general for the Barracuda community).

[2021-05-07 12:30] #145 closed

[2021-05-07 12:35] FlorentGuinier commented on #153
Support for RoiAlign have been added (in the context of Mask R-CNN) to the roadmap, not ETA for now however. Closing the github issue, will let you know when we work on it.

[2021-05-07 12:35] #153 closed

[2021-05-07 12:54] FlorentGuinier commented on #173
Issue has been converted to Unity bug: https://issuetracker.unity3d.com/product/unity/issues/guid/BAR-93 closing.

[2021-05-07 12:54] #173 closed

[2021-05-07 13:40] FlorentGuinier commented on #86
Added to backlog :) (however no ETA for now). Closing the issue then.

[2021-05-07 13:40] #86 closed

[2021-05-07 15:01] AlexRibard commented on #52
@vsantosu sorry for the late reply, but this got fixed.
I tested on mobile and PC, it is working fine. Let me know if it doesn't

[2021-05-07 16:51] AlexRibard commented on #171
@DaphiFluffi I have checked your model.
Barracuda does not handle dynamic shape logic that much unfortunately. We do our best if all shapes are know.
If not, we do try to import correctly but this requires all ranks to be inferable.
In this case the end of the model contains a `NonZero` followed closely by a `Gather`
![image](https://user-images.githubusercontent.com/12990800/117481618-3ad18500-af

[2021-05-07 17:00] DaphiFluffi commented on #171
Hi Alex,

Thank you very much for your answer. Unfortunately, I am quite new to
Barracuda and I wouldn't know how to move that part into C#. Do you think
there is a way to convert a Tensorflow saved model to Barracuda in a way
that this problem does not occur?

Kind Regards
Daphna

Am Fr., 7. Mai 2021 um 18:52 Uhr schrieb AlexRibard <
***@***.***>:

[2021-05-07 17:04] AlexRibard commented on #171
What does the code in TF looks like for the bottom part of the model?

[2021-05-07 17:09] DaphiFluffi commented on #171
I didn't create the Tensorflow Model from Scratch unfortunately. I converted the .weights file I got after training YOLOv3 Tiny with Darknet to a Tensorflow Saved Model.
When I ran the script I got the following output. I hope this can answer your question.

[code]

[2021-05-07 17:19] AlexRibard commented on #171
I see, in that case there isn't much we can work around unfortunately :/
But on the bright side if what you are looking for is a YOLOv3 Tiny that imports in Barracuda, I'd suggest you look on this thread:
https://github.com/Unity-Technologies/barracuda-release/issues/132
We do support a number of YOLOv3 Tiny variants.

Let me know if that works for you

[2021-05-08 01:53] amirebrahimi commented on #173
@fmannhardt - after looking into this it would be a more significant change to our runtime because currently we don't support empty tensors. If there was a single entry with all 0s instead of random data would that work for you still? Perhaps you could validate with a WHERE or IF layer?

[2021-05-08 15:42] CoaNewco opened #174 "RAM consumption when loading models"
Hello, we had some issues concerning RAM consumption. First of all, when we import the models in our project, automatically we see spike in our used memory. It seems that the models use double the memory as we are seeing models and their weights written separately. This is not the case when we use the models from streaming assets, so any help concerning memory management concerning models and Barr

[2021-05-10 02:04] Sun-Pak commented on #172
Oh. God! Thank you!
It works well. You're correct to matching texture import setting.
Thank you for solving the problem for a long time together.
Have a nice day!

[2021-05-10 08:03] #172 closed

[2021-05-10 14:49] AlexRibard commented on #174
@CoaNewco thank you for rising the issue. I'll take a look at your models and investigate a bit.
To be clear you are asking about CPU RAM use? Is GPU RAM usage acceptable in your case?

In the meanwhile let me clarify a bit:
* at import (from ONNX), spike in RAM use is to be expected as we are performing model optimizations. These should be going away when running the application. In this case or

[2021-05-10 21:14] fmannhardt commented on #173
This is, of course, not optimal since it breaks the specification or at least the common sense implementation of the ONNX NMS layer. I assume that the indicies are 0 indexed, so returning all 0s would be unlikely but a valid actual result, wouldn't it?

Then, I guess a negative value would be better. I have not looked at the `If` and `Where` operators defined in ONNX, but it seems that would be an

[2021-05-11 06:40] Kabster17 opened #175 "How can I run Barracuda inference engine MRTK-WebRTC remote player stream?"
Hello everyone, I have successfully created a mrtk-webrtc connection between my Hololens and my Desktop using Unity3D.
Right now, I am trying to work on running Barracuda inference engine using yolo-onnx model on the Hololens stream in Unity itself.
Just would like to know, how can I go about doing so or if its even possible to begin with. I would really appreciate any help/guidance in this.

Than

[2021-05-11 14:56] AlexRibard commented on #175
Hi! It should be!
You can checkout the doc here:
https://github.com/Unity-Technologies/barracuda-release/blob/release/1.0.0/Documentation%7E/index.md
In your case the steps is pretty easy:
* import barracuda package
* add the onnx model as a regular asset
* load the model/create a worker/input and execute said model
[code]

[2021-05-11 15:35] CoaNewco commented on #174
Hello @AlexRibard :) I am asking about CPU RAM. We have been running some tests and doing some troubleshooting concerning RAM consumption and we've noticed some issues. First of all, when we reference our models in the inspector, automatically we see 270MB + 88MB writing to RAM. Now, this data is type of byte[] and it stays in RAM even though we unreference our models after loading them.

Next RAM

[2021-05-11 20:07] AlexRibard commented on #174
I took a look at things on our end.
There was indeed some gc-allocation that could be avoided. So I optimized that a bit (I'll push it for the next version)
Here is what I get overall:
* loading encoder: 0.6GB editor 0.53GB mobile
* running encoder: 0.69GB editor mobile : too slow
* loading decoder: 254.1MB editor 177MB mobile
* running decoder: 304.1MB editor mobile : too slow

* loading both mod

[2021-05-12 00:53] Kabster17 commented on #175
Hi, thanks for your reply.

But for the case of yolo and in order to show the bounding boxes and labels of the detections how can I go about doing that?
And for the inputs, do I need to send in the texture data of the video stream or is there another way to do so?
I apologize if my questions are trivial/basic as I am really new Unity and Barracuda.

Based on other yolo-barracuda implementations th

[2021-05-12 02:01] AlexRibard commented on #175
No problem at all!

* you can create a Tensor directly from a Texture, we have a constructor for that!
[code]
So usually you get the `WebCamTexture` (https://docs.unity3d.com/ScriptReference/WebCamTexture.html) and blit that to a RenderTexture which you use for the constructor. In your case, I am not too familiar with MRTK-WebRTC, but I assume you can get the video feed to a rendertexture somehow.

[2021-05-12 05:00] Kabster17 commented on #175
Hi, I have actually managed to get the video feed to a render texture by assigning the created render texture as the target texture for the camera which is projecting the quad which is streaming the HoloLens via the Web-RTC.

Not sure if its the right way to get the remote stream texture but its what I have managed to do recently.
I am actually trying to adapt from these GitHub implementations in

[2021-05-12 10:36] CoaNewco commented on #174
[code]

This would be the outline of the code that we've found to be 'problematic'. It's after WorkerEncoder.Execute(EncoderTensor); function where writing to RAM happens. Could _combining_ of our models into one **single** model possibly bypass this?

And I wish to address one more point concerning inference time. You've mentioned that it takes 1.2 seconds for models to finish with execution, but

[2021-05-12 11:11] DaphiFluffi commented on #171
Hi Alex,

I tried out the [Onnx simplifier](https://convertmodel.com/) mentioned in #132. However, I got the same error in Unity as before.

[2021-05-12 14:30] AlexRibard commented on #175
If you have a RenderTexture it's actually pretty straightforward:
[code]
You can pass the render texture directly to the constructor and then pass the tensor as input to the worker
[code]

[2021-05-12 15:33] AlexRibard commented on #174
* inference time, yeah that could be explained by the input size you are using vs the one I tried.
If the timings are fine on your end then things are good :) (btw on latest barracuda you have optimized softmax, let me know how fast it is now)

* the problem of your code is here: `EncoderTensor = TransformInput();`
You are first of all downloading a texture to CPU, modifying it, copying that into

[2021-05-12 15:34] AlexRibard commented on #171
yeah that will not make your model import.
Sorry for the confusion, I was more referring to using the models they shared as those import

[2021-05-12 16:54] DaphiFluffi commented on #171
Yeah I tried those out, but I am trying to import my own model. I am now trying out the techniques mentioned here https://github.com/derenlei/Unity_Detection2AR/issues/16

[2021-05-12 17:23] AlexRibard commented on #171
I see ok. Unfortunately the main resides in our importer not supporting fully dynamic Tensors.
One other option (apart from changing your architecture) is to strip that bottom part I mentioned and do it in C#. That would be a good workaround.
Would that work for you?

[2021-05-12 19:16] DaphiFluffi commented on #171
It could. But I don't have any idea how to do that.

[2021-05-12 19:17] AlexRibard commented on #171
Ok, let me give it a try

[2021-05-13 01:26] PROCW opened #176 "Avatar don't play with video"
Hi, I cloned from url https://github.com/digital-standard/ThreeDPoseUnityBarracuda.
This is done in windows environment unity editor without error, but don't build android.
This isn't done in macOS Catalina 10.15.7 unity editor with error, but finish build for android.
I added macOS Unity editor's error.
I think, this is unity error.

AssertionException: Assertion failure. Values are not equal.
Ex

[2021-05-13 13:25] AlexRibard commented on #176
What Barracuda version are you using?

[2021-05-13 13:44] AlexRibard commented on #176
I tried Windows and things works fine.
My guess is the error is coming from here:
[code]
If the image is RGBA, it'll create tensors with 4 channels.
Try the following:
[code]
That will enforce that we take only the RGB thus resulting in 3 channels per tensors

[2021-05-13 16:13] AnimaNoProject opened #177 "Importing Mask RCNN - OnnxImportException: Unknown type RoiAlign"
I exported a (resnet) model from pytorch to ONNX. When importing it the following exception is thrown:

[code]

The model is exported the following way:
[code]

[2021-05-13 16:30] AlexRibard commented on #177
@AnimaNoProject sadly RoiAlign is not supported atm.
We do have plans on adding RoiAlign however, but it might take some time.
I'd suggest changing architecture in the meantime to not use RoiAlign.
(https://towardsdatascience.com/implementing-a-resnet-model-from-scratch-971be7193718)
Could you provide your onnx model? It will help us validate that it is importing once RoiAlign is implemented on ou

[2021-05-13 16:31] AlexRibard commented on #177
(closing for now as the task of supporting RoiAlign is already in our system. I'll notify you when the support is out)

[2021-05-13 16:31] #177 closed

[2021-05-13 17:36] ghost commented on #177
Hi Thank you for letting me know, how can I share my model with you?
Is there a somewhat timeframe to it (like within one year)?

[2021-05-13 18:00] AlexRibard commented on #177
* for the model you can share it via google drive or other cloud based storage/via a archive/email us directly at barracuda-support@unity3d.com
* we expect to land support for this around August

[2021-05-14 18:14] AlexRibard commented on #169
@ParkHaeChan we've fixed the problem and will push the fix in a upcoming version.
(btw there actually was a bug in 1.3 as well, the output shape doesn't match what it is supposed to)
Here is the result:
![image](https://user-images.githubusercontent.com/12990800/118311861-771b5d00-b4be-11eb-950e-125a5a876ffd.png)
I was not able to run your model in onnxruntime, so I cannot add it to our test suite

[2021-05-14 19:24] CoaNewco commented on #174
Hi, we've managed to work some things out through shaders. But of course, another problem manifested itself. We've noticed that Barracuda converted two kernels in our conv2d layers from 3x3x512x512 to 9x9x512x512. Why did this happen? Because of this problem there is around 36 million weights that are inside the model now(all of them are zeros), and that is causing RAM problems, among some other s

[2021-05-14 19:55] AlexRibard commented on #174
* We have a optimization pass at import to fuse consecutive linear layers when it is efficient (ie produce a speedup).
In your case, fusing those two conv would provide in runtime speedup.
There is no real reason why they should be 0, unless there already was 0 presents in the original weights.
But you can always remove optimizations in the model inspector: `OptimizeModel`
Looking at our code, I t

[2021-05-14 21:05] CoaNewco commented on #174
There's this
The package cache was invalidated and rebuilt because the following immutable asset(s) were unexpectedly altered:
  Packages/com.unity.barracuda/Barracuda/Runtime/Core/Compiler/Passes/IntermediateToRunnableNHWCPass.cs
  so I can't actually change it. And the flag isn't working also :S

[2021-05-14 21:14] AlexRibard commented on #174
I think for this you'll need to download the github source and link to that locally.
I'll see if we can have a new version soon to unlock you

[2021-05-16 13:41] CoaNewco commented on #174
Hello again :) Little update on the whole deal. First, by fusing layers we get around 36000000 more weights, and they're all zeros. This way we get a bottleneck
![milis320](https://user-images.githubusercontent.com/79917924/118399366-1e35fb00-b65d-11eb-8107-4f521435aa19.png)

 on those two problematic Conv2D layers. I've tried deleting layer weights by accessing them via DataSet[0].shape which I c

[2021-05-16 17:07] AlexRibard commented on #174
Once you have downloaded the github and commented the lines out and correctly linked the local project, you need to re-import the onnx model. Have you done this?
If this doesn't work, a quick hack you can do is add a `LeakyRelu` with alpha = 1 (ie Identity layer, but won't get optimized away) between your two conv layers. This should stop the Conv being fused.

[2021-05-17 09:22] CoaNewco commented on #174
I've done everything you have suggested, but no luck. Everything still stays the same, still I have 38 something million weights added. Is there any way I can remove unwanted weights from the layer and then add correct float array?

[Here ](https://we.tl/t-fN6e3DC3cc)is the model that we are using right now. I would be grateful if you could help me around this particular issue.

[2021-05-17 12:11] DaphiFluffi commented on #171
Hi @AlexRibard,

I actually found a way of converting the darknet model to onnx that worked and was importable into Unity. I will try and document it as good as i can, but I basically followed the steps specified here: https://github.com/derenlei/Unity_Detection2AR/issues/16#issuecomment-786339303
Thank you for your help!

[2021-05-17 14:29] AlexRibard commented on #174
Ok, I took a look at the model.
Sorry about the misleading. There is indeed no Conv fusing. The problem is coming from the `dilatations` (cf Conv_119)
unfortunately our current implementation for `dilatations` dilates the conv kernel and adds 0.
This is indeed inefficient, but we didn't have a use case for that until now.
I'll create a task for us (it shouldn't take very long) and let you know whe

[2021-05-17 14:35] AlexRibard commented on #171
Hey that's great to hear!
I'm going to close the issue, feel free to reopen if you have other issues :)

[2021-05-17 14:35] #171 closed

[2021-05-17 15:04] #166 closed

[2021-05-17 15:05] #165 closed

[2021-05-17 15:05] AlexRibard commented on #165
@TheBricktop feel free to re-open if this is still an issue

[2021-05-17 15:23] TheBricktop commented on #165
@AlexRibard  Thank You for great tutorial, i think that this should be a part of regular docs on barracuda! Is there a way to preserve Your explanation for future?

[2021-05-17 15:35] AlexRibard commented on #165
Good idea! Will update accordingly

[2021-05-17 19:53] amirebrahimi commented on #173
Yes, you're right, -1s would be much better. I can make this change in the meantime to help unblock you. You'd see this change in the next preview release.

[2021-05-18 02:17] Kabster17 commented on #175
Hi, so as per your suggestion I have attached this script:

using System.Collections;
using System.Collections.Generic;
using UnityEngine;
using Unity.Barracuda;

public class remotestream : MonoBehaviour
{
    // Start is called before the first frame update
    public NNModel model;
    Model m_model;
    IWorker m_worker;
    public RenderTexture remote;

    void Start()
    {
        m_model

[2021-05-18 08:13] procw commented on #176
I used Barracuda1.0.0 in Unity2019.3.13f1 with macOS Catalina10.15.7.
Barracuda1.0.0 runs successfully in windows with same unity version, but don't run in macOS.

[2021-05-18 13:47] DaphiFluffi commented on #171
Hi @AlexRibard,

thank you for your help so far. Now that I got the barracuda model imported successfully into Unity, when trying to read the model as specified here https://docs.unity3d.com/Packages/com.unity.barracuda@1.0/manual/ModelOutput.html I get the following error after building it to my Android device:
`JobTempAlloc has allocations that are more than 4 frames old`
I have read through all

[2021-05-18 19:16] AlexRibard commented on #171
On which Barracuda version? Can you try the latest?
If it doesn't work that means you are not properly de-allocating Tensors used with the CSharpBurst worker

[2021-05-18 19:28] DaphiFluffi commented on #171
I used barracuda 1.3.0. I tried 1.4.0 now but the exact same thing is happening.
This is the code I am using: https://github.com/derenlei/Unity_Detection2AR/blob/main/Assets/Scripts/DetectorYolo3.cs. What could I change?

[2021-05-18 20:38] Stefanpe95 opened #178 "Missing operator(layer) DequantizedLinear for optimizing networks"
Dear Barracuda,

Thanks for review and spending your time on this issue.

I am currently working on network optimization throughout onnx, and what I did there was quantization of Conv layers, so I can optimize memory issue of nn network.

If you could  approach  this problem, I would be very grateful.

I have sent you photos , part of optimized onnx network, and problem when pops out after loading

[2021-05-18 21:14] amirebrahimi commented on #175
Hi @Kabster17,

You need to get output back explicitly from the worker. Please check out:
https://docs.unity3d.com/Packages/com.unity.barracuda@1.4/manual/GettingStarted.html#fetching-outputs
https://docs.unity3d.com/Packages/com.unity.barracuda@1.4/manual/ModelOutput.html

Hope that helps.

[2021-05-18 21:17] amirebrahimi commented on #176
Hi @PROCW, Could you try a later version of Barracuda, such as 1.4.0? Also, did you try what @AlexRibard suggested above?

[2021-05-18 22:01] amirebrahimi commented on #171
@DaphiFluffi - before I try to reproduce can you verify for me which model you are using? Is it a custom one or the one in the project you linked to? If custom, then can you email it to us at barracuda-support at unity3d dot com?

[2021-05-18 22:09] amirebrahimi commented on #178
Hi @Stefanpe95,

So from the error message it seems you are supplying W input to your Conv node that isn't constant (i.e. coming from node 641_dequantized).  Currently, this isn't supported and we don't support the DequantizeLinear operator etiher. From what I can see it looks like all of your inputs are constant for that node, so would it be possible to preprocess the data and using a Constant no

[2021-05-19 07:51] DaphiFluffi commented on #171
@amirebrahimi Yes, it is a custom model. The model from the example project exports fine. Mine doesn't for some reason. I sent it to you via Email just now.

[2021-05-19 12:29] CoaNewco commented on #174
Hello from me again! First, you're right, kernel dilations are the culprit of all the zero weights, and unfortunately we had to give way to other solutions due to unresolved dilations implementation. We have managed to remove the unnecessary weights(zeroes) from the conv layers, but in doing so we have compromised the model's structure and also we lost the dilations' purpose. Do you have any estim

[2021-05-19 14:50] AlexRibard commented on #174
@CoaNewco I'll check your latest model and see if I can spot anything wrong.
Again if you are passing your input from the CPU to GPU that would cause some gc alloc.
If you could keep everything on the GPU that would be great.
If like previously you are only doing image rescaling try using the Tensor to Texture tricks I mentioned a while back

The team would be intresting in knowing more about your

[2021-05-19 17:20] CoaNewco commented on #174
I think I'm pushing everything to GPU, but I'll double and triple check that of course. We're using TensorToTexture, and that was a real life saver, thanks for that. :) Also all of the preprocessing is done on GPU using shaders, so I found myself dumbstruck when this happened.

I would, definitely. As would the rest of the team. My colleague Vladimir, who is also our R&D director, will contact you

[2021-05-19 21:33] amirebrahimi commented on #171
Thanks, @DaphiFluffi. I'll take a look.

[2021-05-20 02:45] AlexRibard commented on #174
@CoaNewco I tested your new model on master (with the gc-alloc optims I mentioned). Happy to say that it runs without crashing.
It uses 21MB Mono and 495.2MB Gfx.
I tested on the latest public version, there it crashes.
So I'm hopeful that it'll work when you get the promised optimizations

[2021-05-20 07:47] ParkHaeChan commented on #169
I found opset 9 failed to export onnx file with my model.

this is the error message when I tried opset 9.

C:\Users\Admin\.conda\envs\MLAgentsPytorch\lib\site-packages\torch\onnx\symbolic_helper.py:220: UserWarning: ONNX export failed on _cast_Undefined because input size not accessible not supported
  warnings.warn("ONNX export failed on " + op + " because " + msg + " not supported")
Traceback (

[2021-05-20 13:23] AlexRibard commented on #169
I took a look at the provided model. Could you export it with known input dimensions?

[2021-05-21 16:13] AlexRibard commented on #169
code landed in master, @ParkHaeChan lookout for upcoming version (for the initial NN you provided)

[2021-05-21 16:13] #169 closed

[2021-05-22 00:07] amirebrahimi commented on #77
Closing as there is no activity on the thread and some updates have been given, please reopen if needed.

[2021-05-22 00:07] #77 closed

[2021-05-22 00:08] amirebrahimi commented on #81
Closing as a suggestion was given and there is no activity on the thread, please reopen if needed.

[2021-05-22 00:08] #81 closed

[2021-05-22 00:09] amirebrahimi commented on #84
Closing since some suggestions were given, but there is no more activity on the thread, please reopen if needed.

[2021-05-22 00:09] #84 closed

[2021-05-22 00:24] amirebrahimi commented on #171
Hi @DaphiFluffi, so I finally re-created the situation you are experiencing, which is actually something you can ignore. Oddly enough, in the editor when using Burst the messages don't show up, but on Android they do. However, it's just a warning and not an error.  The warning is due to memory being released longer than 4 frames since it was first allocated. This occurs because of the use of `Star

[2021-05-23 09:31] DaphiFluffi commented on #171
Hi @amirebrahimi,

thank you so much for our help. I actually did not realize it was just a warning and thought it was the reason why the model was not working. I will try out your suggestions on how to remove the warning.
However, I think that's it on this issue. Thank you again. 🙏😊

[2021-05-24 09:08] coaodje commented on #174
Hi! Do you know when will the GC allocation issue be solved?

[2021-05-24 09:50] brunocapdevila opened #179 "Crash on low-end android devices - GSLS link error"
We are currently using this version of Barracuda:
`"com.unity.barracuda": {
      "version": "1.0.4",
      "depth": 0,
      "source": "registry",
      "dependencies": {
        "com.unity.burst": "1.3.4"
      },
      "url": "https://packages.unity.com"
    },
    "com.unity.burst": {
      "version": "1.3.4",
      "depth": 1,
      "source": "registry",
      "dependencies": {
        "com.u

[2021-05-24 15:58] AlexRibard commented on #174
Fix has landed on master, it will be present in an upcoming version.
Working on a back-port to 1.4 at the moment

[2021-05-24 15:58] #174 closed

[2021-05-24 16:02] AlexRibard commented on #179
@brunocapdevila thanks for raising this issue.
What android device are you testing on?
Also could you share the onnx model?

[2021-05-25 10:58] brunocapdevila commented on #179
We have reproduced this in
- we have created the onnx model from tflite by using https://github.com/onnx/tensorflow-onnx
- Huawei MediaPad M5 Lite Android 8.0 (Oreo)

Because the message "GLSL link error:  Max number of total work group invocations exceeded", I am wondering if we are not disposing everything as we should? Or it is maybe a bug on barracuda's side?

Below is the basic code we are us

[2021-05-25 16:55] ranibu opened #180 "Semantic Segmentation of Camera Input in Unity"
Do you support any CNN architectures for (real-time) semantic segmentation? We tried to import a number of state-of-the-art CNNs in ONNX format into Unity but all attempts proved to be futile.

[2021-05-25 17:00] AlexRibard commented on #180
We do support a number of known architectures.
https://github.com/onnx/models#image_classification a good number if not all of the models here imports and runs.

Could you clarify a bit more the issues you have ran into?
* Is it that your model doesn't import?
* Is it your model runs slow on the hardware you are targeting?
* Are you getting error at runtime?
* Is the model taking too much memory?

[2021-05-25 19:53] ranibu commented on #180
Thanks for the quick reply!

To be more specific, one of the models of interest is [PSPNet](https://github.com/oandrienko/fast-semantic-segmentation) which I exported to ONNX (would you like me to provide you with the exported file?)
The model doesn't import and Unity throws the following exception:

[code]

As a side note, we found that when trying to import from the segmentation networks https:/

[2021-05-25 20:20] AlexRibard commented on #180
Ah yes, Mask-RCNN as still being worked on unfortunately...
If you have the onnx model it would be very helpful thanks!

[2021-05-25 20:43] ranibu commented on #180
Here you go https://easyupload.io/4wm84i thanks!

[2021-05-25 22:30] amirebrahimi opened #181 "Re: warnings about job system allocations when using CSharpBurst backend"
You may have seen warnings of the form (or some variant thereof):
`JobTempAlloc has allocations that are more than 4 frames old`

These warnings from the job system are benign and are meant mainly to help developers catch when memory is leaking. In the case of Barracuda this might occur when running a model via [`StartManualExecution`](https://docs.unity3d.com/Packages/com.unity.barracuda@1.0/api/

[2021-05-25 22:30] #181 closed

[2021-05-26 02:20] AlexRibard commented on #180
ok I figured it out.
![image](https://user-images.githubusercontent.com/12990800/119593041-88f6dd00-bda7-11eb-8633-021bd2fa4548.png)
This part messed up our importer.
Can you make your input `[1,1024,2048,3]` instead of rank 3 `[1024,2048,3]`? That should fix the import problems while I fix the current model for our importer.
Do send me the edited onnx model after, I'll validate that it works

Als

[2021-05-26 02:23] AlexRibard commented on #180
Also be careful with your input range.
For now it is within 0,255 Unity textures are in 0-1 range, so that might cause problem down the line

[2021-05-26 13:43] abigos opened #182 "Fused MLP Support"
Hi,

Small MLPs are becoming a popular representation for implicit representations (see https://github.com/vsitzmann/awesome-implicit-representations), but as they’re quite small there's a performance issue when working with a generic inference library as the overheads of handling layers can become quite high when you evaluate models on a (for example) per pixel basis. One approach is to fuse all

[2021-05-26 14:20] AlexRibard commented on #182
Hi @abigos !
You are correct, small MLP are indeed becoming popular (SIREN/NERF...) and are indeed part of our radar.

Could you clarify a bit what do you mean by "fusing all the layers" ?
We currently do fuse consecutive linear layers and contiguous activation in a MLP dispatch, but we stop as soon as there is a non linearity. So MLP0 -> Relu -> MLP1 -> Relu -> MLP2 will become  MLP0Relu -> MLP1R

[2021-05-26 15:43] abigos commented on #182
Hi Alex,

Yes, I mean create a single dispatch for a complete model evaluation. As you say, it only makes sense if you can fit all the weights into shared memory - but if you can do that you can get a big speedup. I think if this was available you would be tuning your network to be able to fit into memory for the use cases I have in mind (touching each pixel),  e.g. you would be targeting a specif

[2021-05-26 21:29] AlexRibard commented on #182
Thanks!

Indeed yeah, it would be nice to have a fully fused path for these kind of models.
I think for us, since we want to be a bit more generic (and not simply do a custom kernel for NeRF model) it'll take some time before it ships.
But it's doable.

At the moment, making NeRF models more efficient is in our radar. So we'll definitely be making a custom kernel for smaller matmul with large batc

[2021-05-29 07:22] ranibu commented on #180
Thank you so much! I am currently having trouble changing the input shape of our model but once it's fixed, I will report back to you.

We were using Barracuda version 1.0.4 because it is the latest verified version but now we updated it to version 2.0.0-pre4..

[2021-05-30 07:27] ameliesophie opened #183 "ArgumentException: Off-axis dimensions must match"
Hello,

I am trying to incorporate an ONNX model into an AR App based on ARFoundation in order to apply a semantic segmentation on the camera input. Therefore I exported this model to ONNX: https://github.com/ydhongHIT/DDRNet. The exported file and a visualization of the architecture can be found here: [DDRNet.zip](https://github.com/Unity-Technologies/barracuda-release/files/6565829/DDRNet.zip)

[2021-05-30 23:07] AlexRibard commented on #183
Hi @ameliesophie thank you for providing the model, that is very helpful.
I've tested on latest, the model imports and runs. So that's good :)
However I am getting some discrepancy when comparing against onnxruntime.
We'll spend some time looking into this this week.

Out of curiosity, on which version are you?

[2021-05-31 08:03] ameliesophie commented on #183
Thank you very much!

I am currently using Barracuda version 2.0.0-pre.4 in Unity 2020.3.4f1.

[2021-05-31 09:25] brunocapdevila commented on #179
Hi @AlexRibard, please let me know if the zip helps. Curious to know more about this issue.
Thanks in advance

[2021-05-31 20:03] ranibu commented on #180
@AlexRibard Thank you for your help so far, we have decided to work on a more promising architecture for our task (that is, DDRNet23 slim). For this reason, I am gonna close this issue.

[2021-05-31 20:03] #180 closed

[2021-05-31 20:06] AlexRibard commented on #180
ok thanks

[2021-05-31 20:29] AlexRibard commented on #183
I tested in 2.0.0, it actually runs fine with input shape `1,512,1024,3`
The discrepancy comes from onnxruntime `Upsample.linear` mode. We default to bilinear and there was some issues between onnxruntime/pytroch and tf regarding bilinear upsampling. So it's probably a none issue.
Using `nearest` is fine however.

[2021-05-31 20:30] AlexRibard commented on #183
What input shape are you using?

[2021-06-01 08:30] abigos commented on #182
Hi Alex,

I agree. NeRF and related are interesting, but that area is developing so quickly that a simple implementation of NeRF (or one of the many approaches to speed it up) isn't so useful.  What would be more useful is to provide examples of how the building blocks of these approaches (positional encoding, fast MLP evaluation) can be implemented in Barracuda in an efficient way.   This would b

[2021-06-01 08:30] #182 closed

[2021-06-02 08:56] ameliesophie commented on #183
Indeed, the input shape I used was incorrect and caused the error I got. With the correct input shape the model runs in my project as well now.

Is there a way to change the Upsample mode to nearest in Unity or do I have to change the ONNX model?

[2021-06-02 10:52] palder commented on #183
Hi there!

I get the same error as **[ameliesophie](https://github.com/ameliesophie)**  when I try to import my ONNX file into Barracuda. Is the input shape the issue here as well?

**What I'm trying to accomplish**

Object Detection using Barracuda and ARFoundation using a Custom Dataset. At this point I'm only using a single class. The annotations were created using `roboflow.com` and for traini

[2021-06-02 14:17] AlexRibard commented on #183
@palder could you provide your onnx model?

Also what input shape are you using in Barracuda?
Do note that Barracuda is in NHWC compared to onnx in NCHW
https://github.com/Unity-Technologies/barracuda-release/blob/release/1.0.0/Documentation%7E/TensorHandling.md
For for example, in @ameliesophie case the input in onnx is N:1, C:3, H:512, W:1024 so in Barracuda I need to construct my input tensor a

[2021-06-02 21:18] palder commented on #183
I changed the input of the ONNX model from NHWC to NCHW. Both of the models gave me same `ArgumentException: Off-axis dimensions must match` upon import. Here are my models:
[model_nchw.onnx](https://drive.google.com/file/d/1b8HQhEfhzZhRziRkTC0rscJqXexMYX8d/view?usp=sharing)
[model_nhwc.onnx](https://drive.google.com/file/d/10ASWH-NIFOp8xKmBntThvwehwLvGXmYh/view?usp=sharing)

[2021-06-02 21:23] AlexRibard commented on #183
Oh sorry if my explanation was not clear.
I meant in Barracuda, we are in NHWC. Keep your onnx model in NCHW, we do the conversion at import time.
And then in Barracuda construct your input tensor to be NHWC

I will try your models

[2021-06-03 00:59] AlexRibard commented on #183
@palder I checked your model. It sadly doesn't import at the moment.
Checking why

[2021-06-03 08:14] ranibu commented on #183
@AlexRibard Following up on [**ameliesophie**](https://github.com/ameliesophie)'s question, how do you solve this?

The above was asked in response to this reply:

[2021-06-03 14:33] AlexRibard commented on #183
I would first test out that the result it's producing is not desirable.
We have a lot of users using Bilinear and it is fine. So do double check that the output is not what you want. (We do match Resize for example) so again, it might be a none issue.

If you do want to change there is two choices:
- edit the onnx file directly as so
[code]
- modify the model once it is in Unity.
[code]

[2021-06-03 20:43] AlexRibard commented on #183
@palder I have found the fix for your model. Pushing it.
It won't make it in the upcoming version however. So you might have to wait a bit. You can email me at barracuda-support@unity3d.com I can send you the PR

[2021-06-04 02:32] 6Kwecky6 opened #184 "OnnxImportException: Unexpected error while parsing layer 19 of type Conv. Index was outside the bounds of the array."
Hello

I'm importing a pretrained CNN from PyTorch, but getting a similar error to [this guy](https://github.com/Unity-Technologies/barracuda-release/issues/95), except I'm not using LSTM. My model is only a standard CNN, so I might have done something wrong.

Barracuda version: 1.0.4
Python: 3.9.2
PyTorch: 1.7.1
Opset version: 9

Adding the output from `onnx.helper.printable_graph(onnx_model.grap

[2021-06-04 03:49] AlexRibard commented on #184
Thank you for raising this issue!
Could you share the onnx file?

Thank you!

[2021-06-04 05:17] 6Kwecky6 commented on #184
Hey!
Thanks for a rapid answer!
The file is ~500MB, so it's unfortunately too large to be attached here. It might be a bit unwieldy to read the graph, and I exported it from PyTorch using same implementation that is being used in the PyTorch doc .
`torch.onnx.export(model,
                   x_torch,
                   'Models/CNN1D_M2.onnx',
                   export_params=True,

[2021-06-04 07:14] mantasp commented on #184
@6Kwecky6 you can upload your model to Google Drive or similar service and us the link to `barracuda-support@unity3d.com`

[2021-06-04 10:01] abigos opened #185 "Error Loading Model"
Hi,

I get the assert below when loading a model (on 2.0.0-pre.5).  I've enclosed the onnx model.

Thanks

[bird_256x256_6-256-256-3_SINE_POSITION_1.zip](https://github.com/Unity-Technologies/barracuda-release/files/6597537/bird_256x256_6-256-256-3_SINE_POSITION_1.zip)

`Asset import failed, "Assets/Models/bird_256x256_6-256-256-3_RELU_POSITION_1.onnx" > AssertionException: Assertion failure. Valu

[2021-06-04 10:08] mantasp commented on #185
At the moment we support tensors that have at least 2 dimensions, so I would recommend to modify your network to accept input of shape `[batch, 6]` instead of `[6]`

[2021-06-04 10:36] abigos commented on #185
That makes sense.  Thanks!

[2021-06-04 10:36] #185 closed

[2021-06-05 15:39] Ademord opened #186 "Images missing in Getting Started"
Hello, there are broken files in the documentation. For example: https://github.com/Unity-Technologies/barracuda-release/blob/release/2.1.0/Documentation~/GettingStarted.md.

[2021-06-06 11:23] ameliesophie commented on #183
Sorry, now I understand that you meant by a none issue. I get good results with bilinear upsampling, too. Thanks for your support!

[2021-06-06 11:23] #183 closed

[2021-06-06 17:38] GeorgeAdamon opened #187 "Barracuda + MiDaS v2"
Hello I'm trying to run Intel's [MiDaS v2](https://github.com/intel-isl/MiDaS/tree/master/tf) Monocular-Image-To-Depth model, which is provided by the authors in .onnx format. Here's mu environment:

|Platform|version|
---|---
|Unity|2021.1.2f1|
|com.unity.barracuda| 1.0.4 - 2.1.0 preview |

The model loads fine in Unity, without warnings, and I generate my tensors by providing a texture in the ri

[2021-06-07 06:13] Kabster17 commented on #175
Hi, can I ask if yolov3 is supported in Barracuda?
I am trying to use custom YOLOv3 model trained with Darknet with Barracuda.
I managed to convert the model from Darknet to Keras and then to ONNX model but when importing it into Unity, the input shape of the model is not correct.

I am not sure why I am getting this as the input to the YOLO model
![image](https://user-images.githubusercontent.com

[2021-06-07 07:04] FlorentGuinier commented on #58
Closing as there is no activity on the thread, please reopen if needed.

[2021-06-07 07:04] #58 closed

[2021-06-07 07:05] FlorentGuinier commented on #70
Closing as there is no activity on the thread, please reopen if needed.

[2021-06-07 07:05] #70 closed

[2021-06-07 07:05] FlorentGuinier commented on #85
Closing as there is no activity on the thread, please reopen if needed.

[2021-06-07 07:05] #85 closed

[2021-06-07 07:06] FlorentGuinier commented on #88
Closing as there is no activity on the thread, please reopen if needed.

[2021-06-07 07:06] #88 closed

[2021-06-07 07:07] FlorentGuinier commented on #131
Closing as bug is now tracked using the issuetracker link above.

[2021-06-07 07:07] #131 closed

[2021-06-07 07:09] FlorentGuinier commented on #176
Closing as there is no activity on the thread, please reopen if needed.

[2021-06-07 07:09] #176 closed

[2021-06-07 07:28] FlorentGuinier commented on #184
For internal tracking purpose:
Issue is being discussed in email thread _**"[Barracuda support] OnnxImportException: Unexpected error while parsing layer 19 of type Conv. Index was outside the bounds of the array."**_

[2021-06-07 07:38] FlorentGuinier commented on #186
Hi @adel-s thanks for reporting we will be looking into it!

[2021-06-07 07:38] FlorentGuinier commented on #187
Hi @GeorgeAdamon thanks for reporting we will be looking into it!

[2021-06-07 13:37] FlorentGuinier commented on #186
Fixed, thanks again for reporting this.

[2021-06-07 13:37] #186 closed

[2021-06-07 13:41] g-adamopoulos commented on #187
Thanks in advance for your time @FlorentGuinier !

[2021-06-07 13:50] FlorentGuinier commented on #175
Hi @Kabster17,

We have various instance of yolov3 in our test suite, so without being able to promise every single version of yolov3 will work out of the box i think this should probably be fine, have you tried to run inference on it?

About the (0,0,0,3) shape: While this dimension notation can seems obscure, it is fine imho as -1 or 0 mean variable dimensions in term on input shape, you can ver

[2021-06-07 14:33] FlorentGuinier commented on #187
Sure! I was looking into converting the model to repro however it seems at least on my system this is a bit of a rabbithole.
Could you share the onnx file please (Either here or via barracuda-support @ unity3d.com) ?

PS: random weights are fine.

[2021-06-07 15:00] DorianInotekk opened #188 "Unknown Type DequantizeLinear"
Hello,

I'm trying to import a custom model in Unity but I have this issue :
OnnxImportException: Unknown type DequantizeLinear encountered while parsing layer std.constant100_dequant

Is there a way to use this operation?

Thank you in advance.

[2021-06-07 15:01] brunocapdevila commented on #179
@AlexRibard sorry to insist, any news on this?

[2021-06-07 15:26] FlorentGuinier commented on #188
Hi @DorianInotekk ,

At the moment we are not supporting quantized network in Barracuda, thus the lack of support of DequantizeLinear (or integer tensors). Is it possible for you to train/export this network without quantization aka using float tensors?

Thanks
Florent

[2021-06-07 15:42] FlorentGuinier commented on #179
Alex is on vacation this week :) I was however looking into this.

Running a fixed model (more on this below) on latest Barracuda aka 2.1.0 with your script i can not repro / everything seems fine. Can you try with that version please? (please check the **model** section below first)

A few informations here to help the discution:
- CSharpBurst is our CPU backend and should run fine on mobile.
- W

[2021-06-07 15:44] Ademord commented on #132
could you share the v3 and v5 models that you got working please?

[2021-06-07 15:44] Ademord commented on #132
could you share the v3 and v5 models that you got working please? @fmannhardt

[2021-06-07 15:53] Ademord commented on #119
how could I get yolov3 running? everytime i import it i get some error